﻿@using Znode.Engine.WebStore.ViewModels
@model CaseRequestViewModel
@{
    ViewBag.Title = "Drew Shoe | Contact Us";
    ViewBag.description = "drew shoe, orthopedic shoes,therapeutic shoes, medical footwear, the number one source for Medical Shoes and Orthopedic Footwear.";
    ViewBag.keywords = "drew shoe, orthopedic shoes, medical footwear, therapeutic shoes, rocker bottom shoes, diabetic foot care, shoes for diabetics, wholesale diabetic shoes, diabetic foot pain, fashionable diabetic shoes";
}
<div id="layout-contactus" class="main-wrapper">
    <div class="container">
        <div class="contain-pages margin-top-50">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="lblPageTitle">@WebStore_Resources.LinkTextContactus</h1>
            </div>
            <div class="col-xs-12 margin-top nopadding">
                <div class="col-xs-12 col-sm-4 nopadding margin-bottom">
                    <div id="AddressSection">
                        @Html.RenderMessage("ContactAddressSection")
                    </div>
                    <br />
                    <div id="UsefullLinks" class="margin-top">
                        @Html.RenderMessage("ContactUsefulLinkSection")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    @using (Html.BeginForm("contactus", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                    {
                        @Html.AntiForgeryToken()
                        <p class="margin-bottom hidden" data-test-selector="lblContactUsMessage">@WebStore_Resources.HeaderTextContactUs</p>
                        <div class="col-xs-12 col-ms-12 nopadding">
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required", @data_test_selector = "lblFirstName" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @data_test_selector = "txtFirstName", @title = WebStore_Resources.LabelFirstName })
                                        <span id="valFirstNameErr" class="field-validation-error" data-test-selector="lblValFirstNameErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelLastName, new { @class = "required", @data_test_selector = "lblLastName" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @data_test_selector = "txtLastName", @title = WebStore_Resources.LabelLastName })
                                        <span id="valLastNameErr" class="field-validation-error" data-test-selector="lblValLastNameErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-ms-12 nopadding">
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.ColumnCompanyName, new { @data_test_selector = "lblCompanyName" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100, @data_test_selector = "txtCompanyName", @title = WebStore_Resources.ColumnCompanyName })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required", @data_test_selector = "lblEmail" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @data_test_selector = "txtEmail", @title = WebStore_Resources.LabelEmailAddress })
                                        <span id="valEmailErr" class="field-validation-error" data-test-selector="lblValEmailErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-ms-12 nopadding">
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelPhoneNumber, new { @class = "required", @data_test_selector = "lblPhoneNo" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum", @data_test_selector = "txtPhoneNo", @title = WebStore_Resources.LabelPhoneNumber })
                                        <span id="valPhoneNumErr" class="field-validation-error" data-test-selector="lblValPhoneNoErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 mobil-nopadding"></div>
                        </div>
                        <div class="col-xs-12 col-ms-12 mobil-nopadding">
                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    @Html.LabelFor(x => x.Description, new { @class = "required", @data_test_selector = "lblDescription" })
                                </div>
                                <div class="col-sm-12 nopadding">
                                    @Html.TextAreaFor(model => model.Description, new { @id = "valComment", @data_test_selector = "txtDescription", @style = "min-height: 200px;", @title = "Message" })
                                    <span id="valCommentErr" class="field-validation-error" data-test-selector="lblValDescriptionErrMsg"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-ms-12 mobil-nopadding">
                            <div id="div-captcha">
                                @Html.ZnodeCaptcha()
                            </div>
                            <div class="form-group margin-top">
                                <div class="pull-right">
                                    <div class="g-recaptcha" data-sitekey="6LdeWAAhAAAAAI14UonJYHn7-eVrowDo30wZUGPe"></div>
                                    <button class="btn-text btn-bg-primary" id="contact-us" data-test-selector="btnSubmit" title="@WebStore_Resources.ButtonSubmit">@WebStore_Resources.ButtonSubmit</button>
                                    <a href="/" class="btn-text btn-bg-border width-auto-btn" data-test-selector="btnCancel" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                        </div>
                        if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                            </div>
                        }
                        else if (Model?.HasError ?? false)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validFields() { var e = !0, t = document.getElementById("valFirstName").value, n = document.getElementById("valLastName").value, a = document.getElementById("valEmail").value, r = document.getElementById("valPhoneNum").value, m = document.getElementById("valComment").value; return "" !== t && void 0 !== t || (document.getElementById("valFirstNameErr").innerText = "First name is required.", e = !1), "" !== n && void 0 !== n || (document.getElementById("valLastNameErr").innerText = "Last name is required.", e = !1), "" !== a && void 0 !== a || (document.getElementById("valEmailErr").innerText = "Email ID is required.", e = !1), "" === r || void 0 === r ? (document.getElementById("valPhoneNumErr").innerText = "Phone number is required.", e = !1) : document.getElementById("valPhoneNumErr").innerText = "", "" !== m && void 0 !== m || (document.getElementById("valCommentErr").innerText = "Comments are required.", e = !1), e } function validate(e) { return e.preventDefault(), validFields() ? 0 == grecaptcha.getResponse().length ? (alert("please verify you are not a robot"), !1) : void document.getElementById("frmCreateCaseRequest").submit() : (grecaptcha.reset(), !1) } $("#contact-us").on("click", (function () { validate(event) }));
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>