﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    var cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ? (Model?.ShoppingCartItems?.Sum(x => x.Quantity)).GetValueOrDefault() : 0M;
    bool isQuoteRequestEnabled = GlobalAttributeHelper.IsQuoteRequestEnabled();
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveAllCartItems(this)" : "javascript:$($(this).closest('form').submit());";
    string checkoutButtonOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "ValidateAndSendCheckoutData();" : "Cart.prototype.ValidateProductQuantity();";
}
<div class="margin-top">
    <div class="container">
        <div class="row">
            <!--Cart Notification Msg -->
            <p class="notification-msg message-box alert-danger text-center" style="display:none;" id="CartUpdateError"></p>
        </div>
    </div>
</div>
@if (Model?.ShoppingCartItems?.Any() ?? false)
{
    <div class="col-xs-12 nopadding test margin-top">
        <div class="col-xs-12 col-md-8 nopadding cart-product-details">
            <div class="col-xs-12 col-md-12 nopadding cart-heading">
                <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
            </div>

            <div class="col-xs-12 table-responsive cart-products nopadding margin-top">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="item-image"><span class="hidden">Product Image</span></th>
                            <th data-test-selector="lblItem" class="item-description hidden-xs">@WebStore_Resources.LabelItem</th>
                            <th data-test-selector="lblItemPrice" class="item-price">@WebStore_Resources.ColumnTitleItemPrice</th>
                            <th data-test-selector="lblItemQuantity" class="item-qty text-center">@WebStore_Resources.ColumnTitleQty</th>
                            <th data-test-selector="lblItemTotal" class="item-total text-right">@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*To show the recently added product on the top of cart.*@
                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                        {
                            @Html.Partial("_CartRow", cartItem)
                        }
                    </tbody>
                </table>
                @Html.HiddenFor(x => insufficientQuantity, new { id = "hdnInsufficientQuantity" })

            </div>
            <div class="col-xs-12 cart-total-title nopadding">
                @using (Ajax.BeginForm("RemoveAllCartItem", "Cart", new AjaxOptions() { UpdateTargetId = "Cart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "QuickOrder.prototype.ShowHideQuickOrderPopUp();global.bind.ResetTopCategory();Cart.prototype.EnableDisableMenuIcon();" }))
                {
                    @Html.AntiForgeryToken()
                    <a data-test-selector="linkRemoveAllCartItem" href="#" class="cart-item-remove-all" onclick="@removeItemOnClickEvent" title="@WebStore_Resources.TextRemoveAllCartItems">@WebStore_Resources.TextRemoveAllCartItems</a>
                }
            </div>
        </div>


        <div class="col-xs-12 col-md-4 cart-summary nopadding">
            <div class="col-xs-12 nopadding cart-total order-summary" id="CartOrdersummary">
                <div class="head-text"><h2 data-test-selector="hdnOrderSummaryTitle">@WebStore_Resources.HeadingOrderSummary</h2></div>
                <div class="carttotalcontentarea margin-top" id="summary-details">
                    <img src="~/Views/Themes/DrewShoe/Images/loading.gif" alt="Loading" class="dashboard-loader">
                </div>
                <script>
                    $.get("/cart/CalculateCart", { "_": $.now() }, function (res) { $(".carttotalcontentarea").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); });
                </script>
            </div>
            <div class="col-xs-12 cart-btn nopadding margin-top">
                <div class="col-xs-12 col-sm-6 margin-bottom nopadding btn-left">
                    <a data-test-selector="linkContinue" href="/" class="btn-text-icon btn-bg-border continue-shopping-btn" title="@WebStore_Resources.ButtonContinueShopping">@WebStore_Resources.ButtonContinueShopping</a>
                </div>
                <div class="col-xs-12 col-sm-6 margin-bottom nopadding btn-right">
                    @if (User.Identity.IsAuthenticated && isQuoteRequestEnabled)
                    {
                        <a data-test-selector="linkRequestQuote" href="/Quote/Index" class="btn-text-icon btn-bg-primary checkout-shopping-btn" id="requestQuote-link" onclick="return Cart.prototype.ValidateProductQuantityForQuote();" title="@WebStore_Resources.ButtonRequestQuote">@WebStore_Resources.ButtonRequestQuote</a>
                    }
                    <a data-test-selector="linkCheckout" href="/Checkout/Index" class="btn-text-icon btn-bg-primary checkout-shopping-btn" id="checkOut-link" onclick="return @checkoutButtonOnClickEvent" title="@WebStore_Resources.ButtonCheckout">@WebStore_Resources.ButtonCheckout</a>
                </div>
            </div>
            <div>@Html.RenderMessage("BelliniShoppingCartText")</div>
        </div>
    </div>
   
}
else
{
    <div class="col-xs-12 col-md-8 nopadding cart-heading">
        <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
    </div>
    <div class="col-xs-12 col-sm-12 nopadding cart-summary">
        <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
    </div>
    <div class="col-xs-12 col-sm-12 margin-bottom nopadding text-right">
        <a data-test-selector="linkContinue" href="/" class="btn-text btn-bg-primary checkout-shopping-btn" title="@WebStore_Resources.ButtonContinueShopping" style="margin:0px;">@WebStore_Resources.ButtonContinueShopping</a>
    </div>
}

<script>
    $(".cartcount").html(@cartCount)
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveAllCartItems(control) {
            GoogleAnalytics.prototype.SendRemoveFromCartsForAllCartItems(data);
            $(control).closest('form').submit();
        }
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
        function ValidateAndSendCheckoutData() {
            var isValid = new Boolean(Cart.prototype.ValidateProductQuantity());
            if (isValid) {
                GoogleAnalytics.prototype.SendEcommerceCheckoutData(data);
            }
            return isValid;
        }
    </script>
}




