﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.ViewModels
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
}
<!--isObsolete Pricing-->
<div class="col-xs-12 product-price nopadding">
    @if (isObsolete)
    {
        <div class="col-12 product-price p-0">
            <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(obsoleteMessage)</h4></div>
        </div>
    }
    @if (isGroupProduct && !IsCallForPricing)
    {
        <h2>
            <span id="groupproductmessage"></span>
        </h2>
    }
</div>

<div class="col-xs-9 nopadding PDP-setNamewithprice">
    <!--Product Name-->
    <h1 data-test-selector="hdgProductName" class="product-name">@Html.RenderBlock(Model.Name) &nbsp; &nbsp;</h1>
    <!--Price Section-->
    <div class="nopadding your-pricing">
        @if (!IsCallForPricing && !isGroupProduct)
        {
            <div class="price" id="product_Detail_Price_Div">
                @if (IsCloudflareEnabled)
                {
                    <span class="@obsoleteClass">
                        <span class="cloudflareSpan display-flex" data-id="@Model.PublishProductId" data-type="simpleproduct" data-sku="@productSku">Loading..</span>
                    </span>
                }
                else
                {
                    if (!Equals(Model.SalesPrice, null))
                    {
                        <h2 class="dynamic-product-price @obsoleteClass" data-test-selector="hdgProductPrice">
                            @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                            }
                            else
                            {
                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                            }
                        </h2>
                        if (Model.SalesPrice != @Model.RetailPrice)
                        {
                            <span class="cut-price" data-test-selector="spnCutPrice">
                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                            </span>
                        }
                    }
                    else
                    {
                        if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                        {
                            <h2 data-test-selector="lblPriceCut" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</h2>
                            <span data-test-selector="spnCutPrice" class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                            </span>
                        }
                        else
                        {
                            <h2 data-test-selector="hdgProductPrice" class="dynamic-product-price @obsoleteClass">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CultureCode, UOM)</h2>
                        }
                    }
                }
            </div>
        }
        @if (IsCallForPricing)
        {
            <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
        }
    </div>
</div>
<input id="hndKlaviyoProductName" type="hidden" value="@(Model.Name)" />
<input id="hndKlaviyoProductUrl" type="hidden" value="" />
<input id="hndKlaviyoProductPrice" type="hidden" value="@(Model.ProductPrice)" />
<input id="hndKlaviyoProductImageUrl" type="hidden" value="@(Model.OriginalImagepath)" />
<!--Hightlights-->
<div class="col-xs-12 highlight-container nopadding">
    <div data-test-selector="divHighlight" class="col-xs-12 product-highlight nopadding">
        @{
            if (Model.PublishProductId > 0)
            {
                List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                if (codesList?.Count > 0)
                {
                    string highLightsCodes = string.Join(",", codesList);
                    int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                    string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                    Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes, sku = sku });
                }
            }
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var productName = $("#hndKlaviyoProductName").val();
        var productUrl = $("#hndKlaviyoProductUrl").val();
        var productPrice = "$" + $("#hndKlaviyoProductPrice").val();
        var productImageUrl = $("#hndKlaviyoProductImageUrl").val();
        var emailFromCokies = GetEmailCookie("KlaviyoEmailRos");
        const options = {
            method: 'POST',
            headers: { Accept: 'text/html', 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({
                data: `{"token": "Sp7DLe",
                      "event": "Viewed Product",
                      "customer_properties": {"$email": "${emailFromCokies}"},
                      "properties": {"productName": "${productName}","productUrl": "${window.location.href}","price": "${productPrice}","imageUrl": "${productImageUrl}"}}`
            })
        };

        fetch('https://a.klaviyo.com/api/track', options)
            .then(response => response.json())
            .then(response => console.log(response))
            .catch(err => console.error(err));
    });
</script>
<script src="~/Scripts/NiviSolutions/Klaviyo/NiviKlaviyoCommon.js"></script>