﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@using System.Threading.Tasks;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    bool isCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
}
<div class="container-fluid">
    <div class="row proxy-login-section">
        <div class="container proxy-login">
            @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>
                (WebStoreConstants.ImpersonationSessionKey) != null)
            {
                ImpersonationModel impersonation = SessionHelper.GetDataFromSession<ImpersonationModel>
                    (WebStoreConstants.ImpersonationSessionKey);

                <span id="impersonateSpanId">
                    @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                </span>
                @*<a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff" title="@WebStore_Resources.LabelLogOff"> @WebStore_Resources.LabelLogOff</a>*@
                <a href="javascript:void(0)" onclick="User.prototype.LogOff()" class="log-off" id="log-off" data-test-selector="linkLogOff" title="@WebStore_Resources.LabelLogOff"> @WebStore_Resources.LabelLogOff</a>
            }
        </div>
    </div>
</div>

<div class="header-link-contain margin-top hidden-xs">
    <div class="container">
        <div class="row">
            <div class="header-link">
                <ul>
                    <li>
                        <span class="loginStatus">
                            @if (isCloudflareEnabled)
                            {
                                <span>Loading..</span>
                            }
                            else
                            {
                                @Html.Action("LoginStatus", "User")
                            }
                        </span>
                    </li>
                    <li>
                        <a href="/home/storelocator" title="@WebStore_Resources.TitleFindastore">@WebStore_Resources.TitleFindastore</a>
                    </li>
                    <li>
                        <a href="/caserequest/contactus" title="@WebStore_Resources.LinkTextCustomerService">@WebStore_Resources.LinkTextCustomerService</a>
                    </li>
                    <li>
                        <a href="https://dealer.drewshoe.com/" title="@WebStore_Resources.LabelTextDealerLogin">@WebStore_Resources.LabelTextDealerLogin</a>
                    </li>
                    <li>
                        <a href="/User/GetOrderDetails" title="CheckOrderStatus">Check Order Status</a>
                    </li>
                    @*<li>
                            @Html.ActionLink(WebStore_Resources.LabelTrackOrder, "GetOrderDetails", "User", "", new { @data_test_selector = "linkTrackOrder", @title = WebStore_Resources.LabelTrackOrder })
                        </li>
                        <li>
                            <a href='/cart' title="Cart">@Html.RenderMessage("MessageConfig")<i class='f-size zf-cart header-toolbar-cart' data-test-selector="linkCart"></i><span class='cartcount' data-test-selector="linkCartCount"></span></a>
                        </li>*@
                    <li>
                        <a href='/cart' title="Shopping Cart">
                            @Html.RenderMessage("MessageConfig")<i class='f-size zf-cart header-toolbar-cart' data-test-selector="linkCart"></i>
                            &nbsp;Shopping Cart - <span class="headcount">
                                <span class='cartcount' data-test-selector="linkCartCount"></span>
                                Items
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-2 hidden-lg hidden-sm hidden-md">
            <div class="header-nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span style="font-size:14px;">Menu</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2 nopadding z-index-new">
            <a href="/" class="header-logo" data-test-selector="linkLogoImage" title="Drew Shoes">
                @{
                    if (string.IsNullOrEmpty(logo))
                    {
                        <h1>@title</h1>
                    }
                    else
                    {
                        <img data-src="@logo" src="@logo" alt="@title" class="img-responsive b-lazy" data-test-selector="imgLogoImage" />
                    }
                }
            </a>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 nopadding">
            <div class="header-link-contain-nav">
                <div class="col-xs-5 col-sm-12 col-md-12 col-lg-9 nopadding margin-top mobile-right">
                    <ul class="hidden-lg hidden-md visible-xs mobile-header">
                        <li>
                            @if (Request.IsAuthenticated)
                            {
                                <a href='/User/Dashboard' title="Dashboard"><i class='f-size zf-login-user' data-test-selector="linkCart"></i><span class="hidden">dashbaord</span></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" data-test-selector="linkLoginLink" title="Sign In"><i class='f-size zf-login-user' data-test-selector="linkCart"></i><span class="hidden">sign in</span></a>
                            }
                        </li>
                        <li>
                            <a href='#' data-toggle="collapse" data-target="#search-results" aria-expanded="false" aria-controls="search-results"><i class='f-size zf-search' data-test-selector="linkCart"></i><span class="hidden">search</span></a>
                        </li>
                        <li>
                            <a href='/cart'>@Html.RenderMessage("MessageConfig")<i class='f-size zf-cart header-toolbar-cart' data-test-selector="linkCart"></i><span class='cartcount' data-test-selector="linkCartCount"></span></a>
                        </li>
                    </ul>

                    <!--Navigation Widget-->
                    <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 nopadding margin-top pull-right">
                    <div id="search-results" class="Search-box collapse">
                        <!--Search Widget-->
                        <z-widget><div class="search-panel-widget">@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</div></z-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $.ajax({ url: "/Home/GetCartCount", type: "get", cache: false }).done(function (t) { $(".cartcount").html(t); });
    $.ajax({ url: "/User/LoginStatus", type: "get", isAsync: true, cache: false }).done(function (t) { $(".loginStatus").html(t); });
    $.ajax({ url: "/CustomUser/ImporsonateLoginStatuss", type: "get", isAsync: true, cache: false }).done(function (t) { $("#impersonateSpanId").html(t.CRSName + " logged in as " + t.ShopperName); });
    if ('@isCloudflareEnabled' == 'True') {
        $.ajax({ url: "/User/LoginStatus", type: "get", cache: false }).done(function (t) { $(".loginStatus").html(t); });
    }
</script>
@*<script type="text/javascript">
    fetch('/Home/GetCartCount')
        .then(response => response.text())
        .then(data => $(".cartcount").html(data));

    fetch('/User/LoginStatus')
        .then(response => response.text())
        .then(data => $(".loginStatus").html(data));

    fetch('/CustomUser/ImporsonateLoginStatuss')
        .then(response => response.json())
        .then(data => $("#impersonateSpanId").html(data.CRSName + " logged in as " + data.ShopperName));

    $(document).ready(function () {
        if ($('#impersonateSpanId').length > 0) {
            if ($('#impersonateSpanId').text() !== '') {
                if (document.URL.indexOf("#") == -1) {
                    url = document.URL + "#loaded";
                    location = "#loaded";
                    location.reload(true);
                }
            }
        }
    });
</script>*@