﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model WidgetProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.ProductViewModel?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.ProductViewModel.Attributes, "UOM");
    string ratingText = Model.ProductViewModel?.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.ProductViewModel.Rating, 1), Model.ProductViewModel?.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isObsolete = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString());
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    int icount = 1;
    string ProductImage = Model.ProductViewModel.Attributes.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.ProductImage)?.AttributeValues;
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
    int index = 0;
    index = Model.ProductViewModel.ImageSmallPath != null ? Model.ProductViewModel.ImageSmallPath.LastIndexOf('/') : 0;
    string smallimagePath = Model.ProductViewModel.ImageSmallPath.Substring(0, Model.ProductViewModel.ImageSmallPath.LastIndexOf('/'));
    var MinPrice = "";
    var MaxPrice = "";
    string Colorclass = "";
    if (Convert.ToString(Model.ProductViewModel.Attributes?.Value("MinPrice")) != null)
    {
        MinPrice = Model.ProductViewModel.Attributes?.Value("MinPrice").ToString();
    }
    if (Convert.ToString(Model.ProductViewModel.Attributes?.Value("MaxPrice")) != null)
    {
        MaxPrice = Model.ProductViewModel.Attributes?.Value("MaxPrice").ToString();
    }
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img" data-test-selector="divProductImage">
                <div id="WishlistImg" class="hidden">
                    <a href="#" class="pull-right heart-icon" data-id="@Model.ProductViewModel.PublishProductId" data-sku="@Model.ProductViewModel.SKU" title="Wishlist" onclick="Product.prototype.AddToWishList(this)"><i class="zf-heart"></i><span class="hidden">Add To Wishlist</span></a>
                </div>
                <div id="Fallundercategory">
                    @{List<AttributesSelectValuesViewModel> codesList = new List<AttributesSelectValuesViewModel>();
                        codesList = Model.ProductViewModel.Attributes?.FirstOrDefault(x => x.AttributeCode == "fallundercategory")?.SelectValues?.ToList();
                        string fallUnderCategoryCode = "";
                        try { fallUnderCategoryCode = Convert.ToString(codesList?.FirstOrDefault()?.Code); } catch { fallUnderCategoryCode = ""; }
                        if (!string.IsNullOrEmpty(fallUnderCategoryCode))
                        {
                            if (fallUnderCategoryCode.ToLower() == "clearance")
                            {
                                <img src="@_fileLocation/Images/Clearance.png" data-src="@_fileLocation/Images/Clearance.png" alt="Clearance Product" class="img-responsive" />
                            }
                            if (fallUnderCategoryCode.ToLower() == "sale")
                            {
                                Colorclass = "text-danger";
                                <img src="@_fileLocation/Images/Sale.png" data-src="@_fileLocation/Images/Sale.png" alt="Sale Product" class="img-responsive" />
                            }
                            if (fallUnderCategoryCode.ToLower() == "new")
                            {
                                <img src="@_fileLocation/Images/New.png" data-src="@_fileLocation/Images/New.png" alt="New Product" class="img-responsive" />
                            }
							 if (fallUnderCategoryCode.ToLower() == "newcolor")
                            {
                                <img src="@_fileLocation/Images/NewColor.png" data-src="@_fileLocation/Images/NewColor.png" alt="New Product" class="img-responsive" />
                            }
                        }
                    }
                </div>
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkImage" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)">
                    <div class="image" data-test-selector="divImage">					
						 <img id="@Model.ProductViewModel.PublishProductId" class="img-responsive b-lazy" src="@Model.ProductViewModel.ImageSmallPath" data-src="@Model.ProductViewModel.ImageSmallPath" alt="Product Image" data-test-selector="imgProductImage" />
                    </div>
                </a>
            </div>
            @if (isObsolete)
            {
                <div class="product-inventory pb-2">
                    <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl)) </h4></div>
                </div>
            }
            <div class="product-details" data-test-selector="divProductDetails">
                <div class="margin-bottom" id="SwatchImageSection">
                    <ul class="HomeSwatchImg">
                        @foreach (var img in Model.ProductViewModel.AlternateImages)
                        {
                            string activeclass = "";
                            index = img.ImageSmallPath != null ? img.ImageSmallPath.LastIndexOf('/') : 0;
                            string SwatchImage = img.ImageSmallPath != null ? img.ImageSmallPath.Substring(index + 1) : string.Empty;
                            string SwatchImagePath = smallimagePath + "/" + SwatchImage;
                            if (icount <= 5)
                            {
                                <li class="@activeclass">
                                    @if (img.ImageSmallThumbNail.Contains("Shown.jpg"))
                                    {
                                        <img id=@icount@img.FileName src="@img.ImageSmallThumbNail" class="img-responsive setswatch" data-src="@img.ImageSmallThumbNail" alt="@img.ImageLargePath" />
                                    }
                                    else
                                    {
                                        <img id=@icount@Model.ProductViewModel.PublishProductId src="@img.ImageSmallThumbNail" class="img-responsive setswatch" Swatch-img="@SwatchImagePath" data-src="@img.ImageSmallThumbNail" alt="@img.ImageLargePath" title="@img.ImageLargePath" onclick="clickme($(this),@Model.ProductViewModel.PublishProductId,@icount@Model.ProductViewModel.PublishProductId)" />
                                    }
                                </li>
                            }
                            icount++;
                        }
                    </ul>
                    @if (Model.ProductViewModel.AlternateImages.Count() > 5)
                    {
                        <div class="moreColorsIcon">
                            <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" title="more colors">+</a>
                        </div>
                    }
                </div>
                <div class="margin-top">
                    <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkProductTitle" title="@WebUtility.HtmlDecode(Model.ProductViewModel.Name)">
                        <h4 class="title" data-test-selector="lblProductTitle">@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</h4>
                    </a>
                </div>
                @if (CallForPricing)
                {
                    <div class="price" data-test-selector="divProductPrice">
                        <label data-test-selector="lblPriceMsg">@callForPricingMessage</label>
                    </div>
                }
                else
                {
				
                    <div class="price" data-test-selector="divProductPrice" data-sku="@Model.ProductViewModel.SKU" data-type="@Model.ProductViewModel.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.ProductViewModel.GroupProductPriceMessage))
                            {
                                <label data-test-selector="lblGroupPrice">@Model.ProductViewModel.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                {
                                    <span data-test-selector="lblPrice" class="@obsoleteClass @Colorclass">
                                        @if (Model.ProductViewModel.PromotionalPrice > 0)
                                        {
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode)
                                        }
                                        else
                                        {

                                            if (MinPrice == "" || MaxPrice == "" || MinPrice == "" && MaxPrice == "")
                                            {
                                                @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CultureCode)

                                            }
                                            else
                                            {
                                                if (!string.IsNullOrEmpty(MinPrice))
                                                {
                                                    <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                                        $@MinPrice -
                                                    </span>

                                                }
                                                if (!string.IsNullOrEmpty(MaxPrice))
                                                {
                                                    <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                                        $@MaxPrice
                                                    </span>
                                                }
                                            }
                                        }
                                    </span>

                                    if (Model.ProductViewModel.SalesPrice != @Model.ProductViewModel.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price @Colorclass" data-test-selector="lblCutPrice">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.ProductViewModel.PromotionalPrice > 0)
                                    {
                                        <label class="@obsoleteClass">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode)
                                        </label>
                                        <span class="cut-price @Colorclass" data-test-selector="lblCutPrice">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode)
                                        </span>
                                    }
                                    else
                                    {
                                        <span data-test-selector="lblPrice" class="@obsoleteClass @Colorclass">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode)
                                        </span>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.ProductViewModel.SKU" data-type="@productType">Loading...</label>
                        }
                    </div>
                    if (!string.IsNullOrEmpty(disable) && !isObsolete)
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.ProductViewModel.InventoryMessage</p>
                        </div>
                    }
                }
                <div>
                    <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkViewMoreDetails" class="margin-top" title="@WebStore_Resources.TextViewMoreDetails">@WebStore_Resources.TextViewMoreDetails></a>
                </div>
            </div>
        </div>
    </div>
</div>