﻿@using Znode.Engine.WebStore.ViewModels
@model SearchResultViewModel

<div class="col-xs-12 nopadding margin-bottom">
    <a data-toggle="collapse" data-parent="#accordion" href="#accordion" class="toggle btn-bg-border width-auto-btn narrow-results active" aria-expanded="true" aria-controls="collapseOne" title="@WebStore_Resources.LabelNarrowResults">@WebStore_Resources.LabelNarrowResults</a>
    <div class="panel-group col-sm-12 nopadding narrow-results-pane collapse" id="accordion">
        <div class="col-sm-12 nopadding">
            @if (Model?.FacetFilters?.Count > 0)
            {
                @Html.Partial("../Search/_FilterAddedList", Model)
            }
        </div>
        <div class="product-grid">
            @if (Model?.Categories?.Count > 0)
            {
                @Html.Partial("../Search/_SearchCategoryList", Model)
            }
           
            @Html.Partial("../Search/_Facet", Model)
        </div>

    </div>
</div>


