﻿@import "../_base.scss";

// Category List Widget.

.category-list-widget,.brand-list-widget{
    ul{width:100%;display:flex;flex-wrap:wrap;padding:0;margin:0;
        li{width:calc(33% - 10px);display:inline-block;margin:0 5px 10px;text-align:center;
           a{display:block;width:100%;position:relative;
             .cs-item {position: relative;display: inline-block;width:100%;
                &:after{content: '';position: absolute;top: 0;right: 0;bottom: 0px;left: 0;background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.16850490196078427) 70%);}
                img{width:100%;min-height:286px;}
             }
           }
           label{color:$base-color-white;cursor:pointer;background-color: $base-color-primary;width: 100%;margin: 0px;text-transform: uppercase;padding: 10px;text-align: left;font-size:$base-font-size + 2}
           figcaption{margin-top: -50px;position: relative;z-index: 2;padding-bottom:20px;
               p{text-transform:uppercase; margin-top: 0px;margin-bottom: 0px;padding-left: 0px;text-align: center;color: #ffffff;font-size:$base-heading-font-mobile - 4; font-family:$base-font-family-montserrat-700;}
           }
        }
    }
}
.plp-category-title h1 {color: $base-color-primary;text-align: left;text-transform: uppercase;padding: 5px 0px 10px 0px;font-size:$base-heading-font-primary;border-bottom:3px solid $base-color-primary;font-family:$base-font-family-montserrat-700;}
// Media Query.
@include screensize(x-small) {
    .category-list-widget,.brand-list-widget{
        ul{
            li{width:calc(50% - 10px);min-height:165px;
               a{
                   .cs-item{
                       img{min-height:163px;}
                   }
               }
               label{font-size:$base-font-size;}
               figcaption{
                   p{font-size:$base-font-size-small;height:30px;}
               }
            }
        }
    }
}
@include screensize(xl-small) {
    .category-list-widget,.brand-list-widget{
        ul{
            li{width:calc(100% - 10px);
            }
        }
    }
}
@include screensize(small) {
    .category-list-widget, .brand-list-widget {
        ul {
            li {
                width: calc(48% - 0px);margin-left:auto;margin-right:auto;
            }
        }
    }
}
@include screensize(medium) {
    .category-list-widget, .brand-list-widget {
        ul {
            li {
                width: calc(24% - -0px);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .category-list-widget ul li figcaption p{font-size:$base-font-size;}
}
@include screensize(desktop) {
    .category-list-widget, .brand-list-widget {
        ul {
            li {
                width: calc(25% - 10px);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .category-list-widget ul li figcaption p{font-size:$base-heading-font-mobile - 4;}
}