﻿@import "../_base.scss";

// Search Text Box Widget.
.search-widget {
    display: flex;

    .left-inner-icon {
        position: relative;
        width:100%;

        input{padding-left:10px;padding-right:40px;height:34px;font-size:14px;margin-top: 0px;}
    }

    .search-form {
        width: 100%;
    }

    .twitter-typeahead {
        display: inline !important
    }

    .btn {
        margin-left: 0;
        border-left:0px;
        position: absolute;
        right: 3px;
        top: 0px;
        &:hover,&:focus,&:active{outline: none;}
    }

    i {
        z-index: 999;
    }

    .tt-dropdown-menu {
        margin-top: 12px;
    }

    .voice-scan-block {
        display: flex;
        align-items: center;
        width: 20%;
        margin: 0 10px;

        .keyboard-icon {
            .zf-keyboard_voice, .zf-scan {
                color: $base-color-primary;
                border: 1px solid $base-color-primary;
                font-size: 24px;
                border-radius: 50%;
                padding: 3px;
                width: 22px;
                height: 15px;
                line-height: 15px;
                vertical-align: middle;
                text-align: center;
                margin-right: 8px;
                font-size: 24px !important;
            }
        }
    }

    .active {
        i {
            padding: 3px;
            width: 22px;
            height: 15px;
            line-height: 15px;
            vertical-align: middle;
            text-align: center;
            border-radius: 52%;
            font-size: 24px !important;
            background-color: #cc0000;
            -webkit-animation-name: voice;
            -webkit-animation-duration: 4s;
            animation: voice 2s infinite ease-in-out;
            color: #000 !important;
            border: 2px solid #ccc !important;
            margin-right: 8px;
        }
    }
} 

.Search-box{display:block}

#typeahead-results .close{color:$base-color-secondary;font-size: 15px;opacity: 0.7;padding: 2px 3px;
   &:hover{color:$base-color-primary;opacity:1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes voice {
    from {
        background-color: #cc0000;
        color: #fff;
    }

    to {
        background-color: #fff;
        color: #cc0000;
    }
}

/* Standard syntax */
@keyframes voice {
    from {
        background-color: #cc0000;
        color: #fff;
    }

    to {
        background-color: #fff;
        color: #cc0000;
    }
}

// Media Query.
@include screensize(x-small) {
    .Search-box{display:none}
}
@include screensize(xl-small) {
    .Search-box{display:none}
}
@include screensize(small) {
    .Search-box{display:none;margin-bottom: 15px;}
}
@include screensize(medium){
    .Search-box{display:none}
}
@include screensize(desktop){
    .Search-box{display:block}
}
@include screensize(x-large) {
    .search-widget .btn{right:4px;}
}