﻿@using Znode.Engine.WebStore.ViewModels

@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<div id="mobileMenu">
    <ul class="nav navbar-nav">
        @{
            foreach (var category in Model.Categories)
            {
                 string visibleInNav = category.Attributes?.FirstOrDefault(w => w.AttributeCode == "isVisibleonNav")?.AttributeValues;

                 if (visibleInNav != "false")
                {
                    <li class="dropdown">
                        <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))" data-test-selector="linkCategoryItem" class="dropdown-toggle" itemprop="url"> @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))</a>
                        @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                        {
                            <ul class="dropdown-menu set1 multi-level">

                                @foreach (var subCategory in category.SubCategoryItems)
                                {
                                    string classname = "";
                                    string style = "";
                                    if (subCategory.ChildCategoryItems.Count > 0)
                                    {
                                        classname = "dropdown-submenu";
                                        style = "width: 100%";
                                    }
                                    string visibleInNavSub = subCategory.Attributes?.FirstOrDefault(w => w.AttributeCode == "isVisibleonNav")?.AttributeValues;

									if (visibleInNavSub != "false")
									{
										<li class="@classname" style="@style">
											<a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null, subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" itemprop="url" title="@WebUtility.HtmlDecode(subCategory.CategoryName)" @*data-vs=@visibleInNav*@>@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
											@if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
											{
												<ul class="dropdown-menu set1 multi-level">
													@Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
												</ul>
											}
										</li>
									}
                                }

                            </ul>
                        }
                    </li>
                }

            }

            if (Model?.BrandList?.Count > 0)
            {
                <li class="dropdown">
                    <a href="/Brand/List" data-test-selector="linkBrand"><i class="zf-caret-right"></i> @WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)</a>

                    <ul class="dropdown-menu list-unstyled fadeInUp animated">
                        @foreach (var brand in Model.BrandList)
                        {
                            <li>
                                <a href="@domainurl@Url.GetBrandUrl(brand.SEOFriendlyPageName, null,brand.BrandId)" data-test-selector="linkBrandItems"><i class="zf-arrow-right-small"></i>@WebUtility.HtmlDecode(brand.BrandName)</a>
                            </li>
                        }
                        <li class="view-all">
                            <a href="/Brand/List" data-test-selector="linkBrandViewAll"><i class="zf-arrow-right-small"></i>@WebStore_Resources.LabelViewAllBrands</a>
                        </li>
                    </ul>

                </li>
            }
        }
    </ul>
    <ul class="visible-xs" id="UserMenuMobile">
        <li>
            <span class="loginStatus">
                @Html.Action("LoginStatus", "User")
            </span>
        </li>
        <li>
            <a href="/home/storelocator" title="@WebStore_Resources.TitleFindastore">@WebStore_Resources.TitleFindastore</a>
        </li>
        <li>
            <a href="/caserequest/contactus" title="@WebStore_Resources.LinkTextContactus">@WebStore_Resources.LinkTextContactus</a>
        </li>
    </ul>
</div>
<script type="text/javascript">$('[itemtype = "https://schema.org/SiteNavigationElement"] a').attr("itemprop", "url")</script>

<script type="text/javascript">
    if ($(window).width() < 768) {
        $(".navbar-nav a").on('click', function (e) {
            e.preventDefault();
            $(this).on('click', function (e) {
                window.location = this.href;
            });
        });
    }
</script>

