﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents;
@{
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    var accountType = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.RoleName;
    string enableECert = PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;
    var approverDetails = SessionProxyHelper.GetApproverDetails(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey).UserId);
    string enablePowerBIReportOnWebStore = userViewModel.UserGlobalAttributes?.FirstOrDefault(o => o.AttributeCode == WebStoreConstants.EnablePowerBIReportOnWebStore)?.AttributeValue;
}
<ul class="account-menu nav nav-tabs tabs-left">
    <li><a href="@Url.Action("Dashboard", "User",null)">@WebStore_Resources.LabelAccountDashboard</a></li>
    @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
    <li><a href="@Url.Action("AccountInformation", "User",null)" title="@WebStore_Resources.LinkTextAccountInformation">@WebStore_Resources.LinkTextAccountInformation</a></li>
    }
    <li class="hidden"><a href="@Url.Action("Wishlist", "User",null)" data-test-selector="linkWishlist" title="@WebStore_Resources.LinkTextWishlist">@WebStore_Resources.LinkTextWishlist</a></li>
    <li><a href="@Url.Action("History", "User",null)" add-value="/User/OrderReceipt" data-test-selector="linkOrderHistory" title="@WebStore_Resources.LinkTextOrderHistory">@WebStore_Resources.LinkTextOrderHistory</a></li>
    <li class="hidden">
        <a href="@Url.Action("GetReturnList", "RMAReturn",null)" add-value="/RMAReturn/GetReturnDetails,/RMAReturn/ManageOrderReturn,/RMAReturn/GetOrderDetailsForReturn" data-test-selector="linkReturnHistory">        
            @WebStore_Resources.LinkTextReturns
        </a>
    </li>
    <li class="hidden"><a href="@Url.Action("QuoteHistory", "Quote", null)" add-value="/Quote/QuoteHistory" data-test-selector="linkQuoteHistory"> @WebStore_Resources.LabelQuoteHistory</a></li>
    <li><a href="@Url.Action("AddressBook", "User",null)" data-test-selector="linkAddressBook" add-value="/User/Address">@WebStore_Resources.LinkTextAddressBook</a></li>

    @if (userViewModel.PendingOrdersCount > 0)
    {
        <li><a href="@Url.Action("QuoteHistory", "User", null)" add-value="/User/QuoteView">@WebStore_Resources.LinkTextPendingOrderHistory</a></li>
    }
    @if (approverDetails.IsApprover)
    {
        <li><a href="@Url.Action("QuoteApprovalHistory", "User", null)" add-value="/User/QuoteApprovalHistory"> @WebStore_Resources.TextPendingOrderApprovalHistory</a></li>
    }
    @if (userViewModel.PendingPaymentCount > 0)
    {
        <li><a href="@Url.Action("PaymentQuoteHistory", "User", null)" add-value="/User/PaymentQuoteHistory"> @WebStore_Resources.LinkTextPendingPaymentHistory</a></li>
    }

    <li class="hidden"><a href="@Url.Action("Reviews", "User",null)" data-test-selector="linkReviews">@WebStore_Resources.LinkTextReview</a></li>
    <li class="hidden"><a href="@Url.Action("GiftCardHistory", "User",null)" data-test-selector="linkGiftCardHistory">@WebStore_Resources.LinkTextGiftCardHistory</a></li>
    <li><a href="@Url.Action("EditProfile", "User",null)" add-value="/User/ChangePassword" data-test-selector="linkEditProfile">@WebStore_Resources.LinkTextEditProfile</a></li>
    <li><a href="@Url.Action("GetSavedCreditCards", "User",null)" add-value="/User/GetSavedCreditCard" data-test-selector="linkSavedCreditCards">@WebStore_Resources.LinkSavedCreditCard</a></li>
    <li class="hidden"><a href="@Url.Action("AffiliateInformation", "User",null)">@WebStore_Resources.LinkAffiliateInformation</a></li>
    @if (!string.IsNullOrEmpty(enablePowerBIReportOnWebStore) && string.Equals(enablePowerBIReportOnWebStore, ZnodeConstant.True, StringComparison.InvariantCultureIgnoreCase))
    {
        <li><a href="@Url.Action("PowerBIReport", "User", null)" data-test-selector="linkBIReports">@WebStore_Resources.LinkPowerBIReports</a></li>
    }
    @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
    {
        <li><a href="@Url.Action("eCertificateBalance", "User", null)" add-value="/User/eCertificateBalance">@WebStore_Resources.ECertManageECertificateButtonLabel</a></li>
    }
	<li><a data-test-selector="linkLogOff" href="/User/Logout" id="log-off" title="@WebStore_Resources.LabelLogOff">@WebStore_Resources.LabelLogOff</a></li>
</ul>

<script>
    // Account Tab Selection
    var selectedTabhref = "/" + $("body").attr("id") + "/" + $("body").attr("class");
    $(".account-dashboard .account-menu a").each(function () {
        var arraySelectedTabs = $.trim($(this).attr("add-value")).split(",");
        if ($.trim($(this).attr("href")) === $.trim(selectedTabhref) || $.trim($(this).attr("add-value")) === $.trim(selectedTabhref) || arraySelectedTabs[0] === $.trim(selectedTabhref) || arraySelectedTabs[1] === $.trim(selectedTabhref) || arraySelectedTabs[2] === $.trim(selectedTabhref)) {
            $(this).addClass("selected");
        }
    });
</script>