﻿@import "_base.scss";

.login-container{margin:2% 0;color:$base-color-secondary;font-weight:normal;
    .page-title {text-transform: uppercase;border-bottom: 2px solid $base-color-primary;line-height: 50px;font-size:$base-heading-font-mobile - 2;font-family:$base-font-family-montserrat-700;color:$base-color-primary;}
    .inner-container{min-height:330px;padding:15px;
        .padding-login-container{padding: 0px 50px 0px 0px;}
        label{color:$base-color-secondary;margin:6px 0;}
        input[type="text"],input[type="password"]{border-radius:0;padding-left:10px;}
        .login-icon{line-height:30px;font-size:20px;padding:0 8px;border:1px solid $border-bgcolor-default;color:#8e8e8e;width:34px;}
        .btn-text-login{display: inline-block;min-width:70px;border:0;color:$base-color-white;border-radius:0px;text-transform:none;width:100%;height:38px;line-height:38px;text-transform:uppercase;
         font:{ 
              size:16px;
              family:$base-font-family-bold;
           }
         &:hover,&:focus,&:active{outline: none;}
        }
        
        .account-signup-container{margin:0% 0;
                h3{color:$base-color-primary;}
                .user-icon{display:block;width:50px;height:50px;border:1px solid $border-bgcolor-default;text-align:center;position:absolute; left:-25px;top:95px;background-color:$base-color-white;
                           i{line-height:47px;font-size:30px;color:#cacaca;}

                }
                .or-btn h1{background-color: $base-color-primary;color: $base-color-white;display: initial;border-radius: 30px;padding: 6px;font-size: 23px;}
        } 
        .checkout-guest .user-icon{top:120px;}
        /*.checkout-new .checkout-guest-container{display:none}*/
        .social{border-top:1px solid $border-bgcolor-default;position:relative;margin-top: 15px;
                .oval-seprator{display:block;width:40px;height:40px;border: 1px solid $border-bgcolor-default;text-align: center;position: absolute;left:43%;top: -21px;background-color: #a4a4a4;color:$base-color-white;padding:8px;line-height:22px;}       
                .top-bottom-space{margin:32px 0 25px;}
        }   
        
        .remember-me label{margin-top:0;line-height:22px;font-size:$base-font-size-small;}     
        .checkout-guest-container{margin-top:40px;}
        .account-signup-link,.checkout-login-asguest{width: 100%;height: 38px;line-height: 38px;font-weight: normal;text-transform: uppercase;display: inline-block;min-width: 70px;text-decoration:none;}
        .login-modal{margin:5% 0;}
    }

    .Login-Specific{position: absolute;top: 85%;left: 50%;width: 380px;transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);background-color: #fff;padding: 40px 35px;/* margin-top: -25px; */box-shadow: 0px 5px 12px -5px;border: solid 0.5px #f3f3f3;
        .padding-login-container{padding:0px;}
    }
}
.Login-Specific-background{background-color: rgba(242, 245, 245, 0.8);height: 100%;width: 100%;position: fixed;top: 0;left: 0;
   img{width: 70%;margin: auto;}
}

.register-container{
    .account-signup-link:hover i{color:$base-color-primary;}
    .account-signup-container{margin:5% 0;padding:10px 0;
           .user-icon{width:50px;height:50px;border:1px solid $border-bgcolor-default;text-align:center;position:absolute; left:-25px;top:40px;background-color:$base-color-white;
                i{line-height:45px;font-size:30px;color:#cacaca;}
           }
    }
    .login-icon{line-height:16px;font-size:20px;text-align:center;border:1px solid $border-bgcolor-default;color:#8e8e8e;width:34px;}
    .form-group{float:left;width:100%;}
    .sub{font-size:12px;color:#8e8e8e;}
    input[type="text"],input[type="password"]{border-radius:0;padding-left:10px;}
} 
.create-account-container{padding-bottom: 50px;margin: 2% 0;
    h1{text-transform: uppercase;border-bottom: 2px solid #000000;line-height: 50px;}
}

// Socal Media.
.Facebook-btn{background-color:#435f9c;margin-bottom:5px;}
.Google-btn{background-color:#de4931;margin-bottom:5px;margin-left:5px;}
.Amazon-btn{background-color:#f3a847;}
.social-login{width:150px !important;}

// Media Query.
@include screensize(x-small) {
.login-container {margin:0px;
    .inner-container,.register-container{padding:10px 5px;
    .padding-login-container{padding:0px;}
    .account-signup-container{border-left:0;
            .user-icon{display:none;}
        }
    }
}
    .login-form-forgotpassword{float:left;}
    .already-account{padding:0;}
}

@include screensize(small) {
    .login-container .inner-container,.register-container{
        .account-signup-container{
             .user-icon{display:block;}
        }
    }
    .login-form-forgotpassword{float:right;}
}

@include screensize(medium) {
    .login-container .inner-container{padding:0px;}
}
@include screensize(desktop) {
    .social-login{width:225px !important;margin-top:30px;}    
}