﻿.search-page {

    .header-results-text {
        background-color: #fafafa;
        padding: 10px 15px;
        font-size: 1.4rem;
        font-family: $base-font-family-bold;
        color: #505050;
        margin: 1.5rem 0;
    }

    .nav-tabs {
        padding: 0 1rem;
        margin: 0 -15px 1rem -15px;
        border-bottom: 1px solid $base-color-primary;
    }

    .nav-tabs > li > a {
        color: #555;
        margin-right: 2px;
        border-radius: 0;
        padding: 0.5rem 3rem;
        background: #fafafa;
        border: 1px solid transparent;
        border-bottom: none;
        text-transform: uppercase;
        font-family: $base-font-family-bold;

        &:hover {
            background-color: transparent;
            border: 1px solid #d4d4d4;
            border-bottom-color: transparent;
        }

        @media only screen and (max-width: 480px) {
            padding: 0.5rem 2rem;
        }
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: $base-color-primary;
        cursor: default;
        background-color: #fff;
        border: 1px solid #949494;
        border-bottom-color: transparent;
    }
}

.blog-search-list-container {
    .blog-header-results {
        background-color: #fafafa;
        padding: 10px 15px;
        font-size: 1.4rem;
        font-family: $base-font-family-bold;
        color: #505050;
        margin-bottom: 1.5rem;
    }

    .blog-list {
        letter-spacing: 0.04rem;

        .blog-item {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #dee2e6;

            .blog-title a {
                font-size: 1.4rem;
                font-family: $base-font-family-bold;
            }

            .blog-description {
                font-size: 1.2rem;
                line-height: 1.2;
                margin: 10px 0;
            }

            .blog-seo-url a {
                font-size: 1rem;
            }
        }
    }
}
