﻿@using Znode.Engine.WebStore.ViewModels
@model CMSPageListViewModel

@{

    int currentPageNumber = Model.PageNumber;
    int currentPageSize = Model.PageSize != 0 ? Model.PageSize : WebStoreConstants.CMSDefaultPageSize;
}

<div id="layout-cms-paging">
    <div class="search-paging col-xs-12 col-sm-8 margin-top nopadding">
        <div class="col-xs-8 nopadding search-pagination">
            <ul>
                <li class="search-more-nav arrow-left"><a data-test-selector="linkCMSArrowLeft" onclick="Search.prototype.PreviousPageClick(this)" class="prev-content-page-search button" href="javascript: void(0)" data-pageno="@currentPageNumber" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                <li class="search-more-nav arrow-right"><a data-test-selector="linkCMSArrowRight" onclick="Search.prototype.NextPageClick(this)" class="next-content-page-search button" href="javascript: void(0)" data-pageno="@currentPageNumber" title="Next"><i class='zf-arrow-right-big'></i></a></li>
            </ul>
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnContentPageTotalPages" })
            <input type="hidden" id="currentContentPageNumber" name="currentContentPageNumber" value="@currentPageNumber">
        </div>
        <div class="col-xs-4 nopadding">
            <form name="ContentSearchPaging" class="select-container">
                @Html.AntiForgeryToken()
                @Html.DropDownList("contentpagesize", new[] {
                                new SelectListItem() {Text = WebStore_Resources.Show8, Value = "8", Selected =  @currentPageSize == 8 },
                                new SelectListItem() {Text = WebStore_Resources.Show12, Value = "12", Selected =  @currentPageSize == 12 },
                                new SelectListItem() {Text = WebStore_Resources.Show16, Value = "16", Selected =  @currentPageSize == 16 },
                                new SelectListItem() {Text = WebStore_Resources.Show32, Value = "32",  Selected = @currentPageSize == 32},
                                new SelectListItem() {Text = WebStore_Resources.Show64, Value = "64",  Selected = @currentPageSize == 64 },
                })

            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var totalPages = parseInt($("#hdnContentPageTotalPages").val(), 10);
        var currentPageNumber = $("#currentContentPageNumber").val();

        if (totalPages == 1) {
            $('.prev-content-page-search').addClass('disabled');
            $('.next-content-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(currentPageNumber) == 1 || currentPageNumber == "") {
            $('.prev-content-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(currentPageNumber) == (totalPages)) {
            $('.next-content-page-search').addClass('disabled');
            return false;
        }
    });

    $("#contentpagesize").change(function () {
        $("#currentContentPageNumber").val("1");
        $("#formcmspagesearch").click();
    });

</script>

