﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveSingleCartItem(this,'" + Url.Encode(Model.SKU) + "')" : "javascript:$($(this).closest('form').submit());";
	if(_displayRemoveLink == "")
	   {
			_displayRemoveLink = Request.Path.Contains("checkout/cartreview") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
	   }
}
<tr>
    <td class="cart-item-image">
        <div class="col-xs-12 col-sm-12 col-md-12 nopadding cart-image">
            <a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-responsive b-lazy" alt="@Html.RenderBlock(Model.ProductName)"></a>
        </div>
    </td>
    <td class="cart-item-details">
        <div class="col-xs-12 col-sm-12 col-md-12 nopadding cart-description">
            <a id="txtImagePath" data-test-selector="linkCartItemName" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>

            <div class="cart-item-description" data-test-selector="divCartItemDescription">
                @if (Model?.PersonaliseValuesDetail?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesDetail)
                    {
                        if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                        {
                            <p data-test-selector="paraCartItemDescription">@item.PersonalizeName : @item.PersonalizeValue</p>
                        }
                    }
                }
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p><i class="zf-caret-right"></i>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-sku" data-productimageUrlcheck="@(Model.ImagePath)" data-sku="@(Model.SKU)"><p>SKU: @Html.RenderBlock(Model.SKU)</p></div>
            <div class="cart-item-description" data-test-selector="divCartItemDescription">@Html.RenderBlock(Model.CartDescription)</div>
            <input type="hidden" class="cart-item-description-hid" data-cart-item-description-hid="@(Model.CartDescription)" />
            <input type="hidden" id="imageUrlCheck" class="imageUrlforCheckout" data-productimageUrl="@(Model.ImagePath)" />
            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>
    </td>
    <td class="cart-item-unitprice hidden-xs" data-test-selector="colCartItemUnitPrice">
        <div class="col-xs-12 col-lg-12 col-md-12 nopadding">
            <label for="ItemPrice" data-test-selector="divPriceText">@WebStore_Resources.ColumnTitleItemPrice</label>
        </div>
        <div class="col-xs-12 nopadding">
            @if (Model?.GroupProducts?.Count > 0)
            {
                foreach (var item in Model.GroupProducts)
                {
                    <div class="group-product-list">
                        @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                        <input type="hidden" class="inputItemPrice" data-itemprice="@(Model.UnitPrice)" />
                    </div>
                }
            }
            else
            {
                @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, Model.UOM)
                <input type="hidden" class="inputItemPrice" data-itemprice="@(Model.UnitPrice)" />
            }
        </div>
    </td>
    <td class="cart-item-quantity" data-test-selector="colCartItemQuantity">
        <div class="col-xs-12 col-lg-12 col-md-12 nopadding">
            <label for="Quantity" data-test-selector="lblQuantity">@WebStore_Resources.ColumnTitleQty</label>
        </div>
        <div class="col-xs-12 nopadding text-center">
            @Html.Partial("_Quantity", Model)
            <div class="margin-top" style="@_displayRemoveLink">
                <a href="javascript:void(0)" title="Update" class="Edit" onclick="Cart.prototype.UpdateCartQauntity($(this).closest('tr').find('#cart-quantity'))">Update</a>
            </div>
			<!--Remove Item Link-->
            <div class="col-xs-12 col-sm-12 col-md-12 nopadding remove-item-link">
                <div class="remove-item" style="@_displayRemoveLink">
                    @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a data-test-selector="linkCartItemRemove" href="javascript:void(0)" class="cart-item-remove" onclick="@removeItemOnClickEvent" title="Delete Item">Delete</a>
                    }
                </div>
            </div>
        </div>
    </td>
    <td class="cart-item-total" data-test-selector="colCartItemTotal">
        <div class="col-xs-12 col-lg-12 col-md-12 nopadding text-right">
            <label for="Total" data-test-selector="lblTotal">@WebStore_Resources.ColumnTitleTotal</label>
        </div>
        <div class="col-xs-12 nopadding cart-result text-right">
            <p data-test-selector="spnCartRowPrice" class="placedOrderSummaryPriceClass" data-placedOrderSummaryItemPrice="@(Model.ExtendedPrice)">@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</p>
            <input type="hidden" id="placedOrderSummaryPerItemPrice" data-placedOrderSummaryPerItemPrice="@(Model.UnitPrice)" />
        </div>

    </td>
</tr>

<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>