﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@model AnalyticsViewModel

@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = "SaveAnalytics", Controller = "Store", CancelUrl = "/Store/List", FormId = "formTagManagerConfiguration", IsSaveCloseEnable = true };
    Model.PortalId = Convert.ToInt32(Request.QueryString["PortalId"]);
    string portalName = Model?.TagManager?.PortalName;
}

<div class="col-sm-12 title-container">
    <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelStore)<i class="z-minus"></i><span>@portalName</span></h1>
    <div class="pull-right">
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
        </div>
    </div>
</div>
<!--Main Container-->
<div id="TextWidgetConfigurationDiv" class="main-wrapper">
    <!--Left Panel-->
    @Html.Partial("~/views/store/_asidestoremanagepanel.cshtml")
    <!--Main Container-->
    <section class="main-container">
        @using (Html.BeginForm("SaveAnalytics", "Store", FormMethod.Post, new { id = "formTagManagerConfiguration" }))
        {
            <h3 class="section-heading" data-test-selector="hdgTagManager">@Admin_Resources.TitleTagManager</h3>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.TagManager.ContainerId, new { @data_test_selector = "lblContainerId" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @Html.TextBoxFor(model => model.TagManager.ContainerId, new { @data_test_selector = "txtContainerId" })
                            @Html.ValidationMessageFor(model => model.TagManager.ContainerId, "", new { @data_test_selector = "valContainerId" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-md control-non">
                    <label>
                        @if (Model.TagManager.GoogleTagManagerId < 1)
                        {
                            <input @("checked ='checked'") id="IsActive" name="TagManager.IsActive" type="checkbox" value="true" data-test-selector="chkIsActive">
                        }
                        else
                        {
                            <input @(Model.TagManager.IsActive ? "checked='checked'" : "") id="IsActive" name="TagManager.IsActive" type="checkbox" value="true" data-test-selector="chkIsActive">
                        }
                        <span class="lbl padding-8" for="IsActive">@Admin_Resources.LabelEnabled</span>
                    </label>

                </div>
            </div>

            //Google Analytics
            <h3 class="section-heading" data-test-selector="hdgGoogleAnalytics">@Admin_Resources.TitleGoogleAnalytics</h3>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.TagManager.AnalyticsUId, new { @data_test_selector = "lblAnalyticsUId" })
                    </div>
                    <div class="control-md">
                        <div id="areaList">
                            @Html.TextBoxFor(model => model.TagManager.AnalyticsUId, new { @data_test_selector = "txtAnalyticsUId" })
                            @Html.ValidationMessageFor(model => model.TagManager.AnalyticsUId, "", new { @data_test_selector = "valAnalyticsUId" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-md control-non">
                    <label>
                        @if (Model.TagManager.GoogleTagManagerId < 1)
                        {
                            <input @("checked ='checked'") id="AnalyticsIsActive" name="TagManager.AnalyticsIsActive" type="checkbox" value="true" data-test-selector="chkAnalyticsIsActive">
                        }
                        else
                        {
                            <input @(Model.TagManager.AnalyticsIsActive ? "checked='checked'" : "") id="AnalyticsIsActive" name="TagManager.AnalyticsIsActive" type="checkbox" value="true" data-test-selector="chkAnalyticsIsActive">
                        }
                        <span class="lbl padding-8" for="AnalyticsIsActive">@Admin_Resources.LabelEnabled</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="control-md control-non">
                    <label>
                        @if (Model.TagManager.GoogleTagManagerId < 1)
                        {
                            <input @("checked ='checked'") id="EnableEnhancedEcommerce" name="TagManager.EnableEnhancedEcommerce" type="checkbox" value="true" data-test-selector="chkEnhancedEcommerceIsActive">
                        }
                        else
                        {
                            <input @(Model.TagManager.EnableEnhancedEcommerce ? "checked='checked'" : "") id="EnableEnhancedEcommerce" name="TagManager.EnableEnhancedEcommerce" type="checkbox" value="true" data-test-selector="chkEnhancedEcommerceIsActive">
                        }
                        <span class="lbl padding-8" for="EnableEnhancedEcommerce">@Admin_Resources.LabelEnableEnhancedEcommerce</span>
                    </label>
                </div>
                @Html.Partial("_HelpText", Admin_Resources.HelpTextEnhancedEcommerce)
            </div>
            
            <h3 class="section-heading" data-test-selector="hdgTrackingPixel">@Admin_Resources.TitleTrackingPixel</h3>
            <div class="form-group">
                <div class="col-sm-12 nopadding ">
                    <div class="control-md control-non">
                        @Html.TextAreaFor(model => model.TrackingPixel.TrackingPixelScriptCode, new { @rows = "10", @data_test_selector = "txtTrackingPixelScriptCode" })
                        @Html.ValidationMessageFor(model => model.TrackingPixel.TrackingPixelScriptCode, "", new { @data_test_selector = "valTrackingPixelScriptCode" })
                    </div>
                    @Html.Partial("_HelpText", Admin_Resources.TrackingPixelHelpText)
                </div>
            </div>
            @Html.HiddenFor(model => model.PortalId)
            @Html.HiddenFor(model => model.TagManager.GoogleTagManagerId)
            @Html.HiddenFor(model => model.TagManager.PortalId)
            @Html.HiddenFor(model => model.TrackingPixel.PortalId)
            @Html.HiddenFor(m => m.TrackingPixel.PortalPixelTrackingId)
            @Html.HiddenFor(m => m.TrackingPixel.TrackingPixelScriptCode)
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
