@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    Layout = null;
}
<style>
    .newsletter_static_content {
        border: 1px solid #ddd;
        padding: 10px;
    }

    .newsletter_static_content .newsletter-widget label, .newsletter .newsletter-widget button {
        color: #000;
        font-size: 16px;
        margin-top: 5px;
    }

    .newsletter_static_content .newsletter-widget input[type="text"] {
        font-size: 16px;
        border: 1px solid #ddd;
    }
</style>
<div class="container">
    <!--Footer Newsletter Widget Static Content-->
    <div class="row">
        <div class="col-sm-12 nopadding col-6 p-0 padding-top-bottom margin-bottom">
            <z-widget>@Html.WidgetPartial("TextEditor", "ContentPage", "777", "ContentPageMapping", (int)Model)</z-widget>
        </div>
    </div>
    
    <div class="col-xs-12 nopadding plp-category-title">
        <div class="col-xs-12 nopadding">
            @Html.RenderMessage("NewsletterStaticContain")
        </div>
        <div class="col-xs-12 nopadding">
            <div class="col-xs-12 col-sm-6 margin-bottom newsletter_static_content margin-top">
                <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "778", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
          
    </div>
</div>