﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductListViewModel
@{
    int pageSize = Convert.ToInt32(Request.QueryString["PageSize"]) != 0 ? Convert.ToInt32(Request.QueryString["PageSize"]) : 1;

    if (!Equals(SessionHelper.GetDataFromSession<int?>("PageSizeValue"), null))
    {
        pageSize = SessionHelper.GetDataFromSession<int?>("PageSizeValue").Value;       
    }
    int pageIndex = Convert.ToInt32(Request.QueryString["pagenumber"]);
    pageIndex = pageIndex == 0 ? pageIndex : (pageIndex - 1);
    int countFrom = pageIndex > 0 ? (pageSize * pageIndex) + 1 : 1;
    int countTo = pageIndex > 0 ? (countFrom - 1) + pageSize : pageSize;
    countTo = (Model.TotalPages - 1) == pageIndex ? Convert.ToInt32(Model.TotalProductCount) : countTo;
}
<style>
    .search-paging .search-pagination{padding:0px;}
</style>
<div id="layout-paging">
    <div class="search-paging col-lg-12 col-xs-12 col-sm-12 Sorting nopadding margin-top">
        <div class="col-xs-7 col-lg-7 col-md-6 nopadding text-right item-per-page">
            <span>@WebStore_Resources.textItemforpage</span>
            @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right", @title = "Pagging" }))
        </div>

        <div class="col-xs-5 col-md-6 col-lg-5 nopadding search-pagination PageNavArrow">
            <ul>
                <li>
                    @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
                        {
                            <p>Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                            <p>Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
                        }
                        else if (!Equals(Model.SearchResultCountText, null))
                        {
                            <p class="search-result" data-test-selector="paraSearchResult">@countFrom - @countTo of @Model.TotalProductCount</p>
                        }
                    }
                </li>
                <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeftBottom" class="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" title="Previous"><i class='zf-arrow-left-big'></i><span class="hidden">previous</span></a></li>
                <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRightBottom" class="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" title="Next"><i class='zf-arrow-right-big'></i><span class="hidden">next</span></a></li>
            </ul>
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
        </div>
    </div>
</div>

@*<script>
        $(document).ready(function () {
            totalPages = parseInt($("#hdnTotalPages").val(), 10);
            var pageno = ZSearch.prototype.GetQueryStringParameterByName("pagenumber");
            if (totalPages == 1) {
                $('#prev-page-search').addClass('disabled');
                $('#next-page-search').addClass('disabled');
                return false;
            }
            if (parseInt(pageno) == 1 || pageno == "") {
                $('#prev-page-search').addClass('disabled');
                return false;
            }
            if (parseInt(pageno) == (totalPages)) {
                $('#next-page-search').addClass('disabled');
                return false;
            }
        });
    </script>*@

