﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Helpers
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    string disablebutton = (Model.IsLevelApprovedOrRejected
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                          ? "disabled='disabled'" : "";
    string encryptedOrderTotal = string.Empty;

    string totalAmount = Convert.ToString(Model.Total);

    if (!string.IsNullOrEmpty(totalAmount))
    {
        encryptedOrderTotal = Encryption.EncryptPaymentToken(totalAmount.Replace(",", "."));
    }
}
<div class="shopping-cart">

    <div class="col-xs-12 chk-section nopadding checkout-box">
        <div class="head-text">
            <h2 class="title">@WebStore_Resources.HeadingOrderSummary</h2>
        </div>
        <div class="col-xs-12 nopadding cart-products">
            @if (Model.ShoppingCartItems?.Count > 0)
            {
                <table id="tblPlacedOrderSummary" class="table">
                    <thead>
                        <tr>
                            @*<th style="@_displayRemoveLink"><span class="hidden">Product Image</span></th>*@
                            <th>@WebStore_Resources.LabelItem</th>
                            <th>@WebStore_Resources.LabelTierPrice</th>
                            <th>@WebStore_Resources.ColumnTitleQuantity</th>
                            <th class="text-right">@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                        {
                            @Html.Partial("../Cart/_CartRow", cartItem)
                        }
                    </tbody>
                </table>
            }
        </div>

        <div class="col-xs-12 nopadding cart-summary margin-bottom">
            <div class="col-sm-offset-5 cart-total order-summary" id="summary-details">
                @Html.Partial("../_TotalTable", Model)
            </div>
        </div>
    </div>

    @if (!Model.IsQuoteRequest && Model.Permission)
    {
        if (Model.IsSinglePageCheckout)
        {
            @Html.Partial("../_ApplyCoupon", Model)
        }

    }


</div>

<div class="col-xs-12 nopadding form-group">
    <div class="col-xs-12 nopadding form-group hidden">
        <div class="col-xs-12 nopadding">
            <label for="address_name" data-test-selector="lblJobName">@WebStore_Resources.LabelJobName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(model => model.JobName, new { maxlength = 100, @data_test_selector = "txtJobName" })
        </div>
    </div>
    <div class="col-xs-12 nopadding hidden">
        <label for="address_name">@WebStore_Resources.TitleAdditionalInformation</label>
    </div>
    <div class="col-xs-12 nopadding hidden">
        @Html.TextAreaFor(model => model.AdditionalInstruction, new { maxlength = 500, rows = 2, title = "Additional Information" })
    </div>
</div>

<div class="form-group">
    <div class="col-lg-12 col-xs-12 nopadding hidden">
        <label for="accept_name" class="HeaderStyle-SinglePage">Accepts Terms and Conditions</label>
    </div>
    <div class="col-xs-12 nopadding TermsConditions">
        <div class="filter-list">
            <div class="styled-input">
                <input id="Agree" type="checkbox" class="FacetFilter">
                <label for="Agree">@Html.RenderMessage("RosHommersonAccepttermsandconditions") </label>
                <p id="TermsandConditionError" class="error-msg" style="display:none;">Please Accept Terms and Conditions to proceed.</p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 nopadding quotebutton hide-in-amazon-checkout margin-bottom">
    @if (Model.IsQuoteRequest)
    {
        <button type="submit" onclick="Quote.prototype.SubmitQuote()" id="btnPlaceQuote" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnPlaceQuote">
            @WebStore_Resources.ButtonSubmitQuote
        </button>
    }
    else if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
        <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextPlaceOrder
            }
        </button>
    }
    else if ((Model.ShowPlaceOrderButton || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Payment.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
    {
        string onclickFunction = (Model.OmsQuoteId > 0) ? "Checkout.prototype.SubmitForApproval()" : "Checkout.prototype.SubmitOrder()";
        <button type="submit" @disablebutton onclick="@onclickFunction" id="btnCompleteCheckout" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextPlaceOrder
            }
        </button>
    }
    else if ((!Model.ShowPlaceOrderButton && (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Store.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
    {
        <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left singlecheckoutsubmitquote">
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.ButtonSubmitForApproval
            }
        </button>
    }
    else
    {
        <button type="submit" @disablebutton onclick="SubmitOrderIfAgreeClicked()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
            @if (Model.OmsQuoteId > 0)
            {
                if (!Model.IsLastApprover)
                {
                    @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                    @WebStore_Resources.LabelApproveAndPlaceOrder
                }
            }
            else
            {
                @WebStore_Resources.TextPlaceOrder
            }
        </button>
    }
</div>

@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
@Html.HiddenFor(m => m.IsLastApprover, new { @id = "hdnIsLastApprover" })
@Html.HiddenFor(m => m.IsLevelApprovedOrRejected, new { @id = "hdnIsLevelApprovedOrRejected" })
@Html.HiddenFor(m => m.OmsQuoteId)
<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
        Checkout.prototype.ChangeSubmitOrderButtonText();
    })
	 $("#hdnEncryptedTotalAmount").val('@encryptedOrderTotal');
</script>

<script async>
    function SubmitOrderIfAgreeClicked() {
        var pOrderNumber = $("#txtPurchaseOrderNumber").val();
        var POrderNumber = jQuery.trim(pOrderNumber);

        var PO = $("input[id='PURCHASE_ORDERPO']:checked").val();
        if (typeof PO != 'undefined') {
            if (POrderNumber == null || POrderNumber.length == 0 || POrderNumber == "") {
                $("#errorpurchaseorder").text('Invalid purchase order number.');
                $("#errorpurchaseorder").show();
                return false;
            }
        }
        else {
            $("#errorpurchaseorder").text('');
            $("#errorpurchaseorder").hide();
        }
        $("#Agree").is(":checked") ? ($("#TermsandConditionError").hide(), Checkout.prototype.SubmitOrder()) : $("#TermsandConditionError").show()
    }
</script>

@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
    </script>
}

<script type="text/javascript">
    function KlaviyoFinalCheckout() {
        var checkoutEmailFromCokies = GetEmailCookie("KlaviyoEmailRos");
        var checkoutDataItems = localStorage['itemsCollectionForCheckoutRos'];
        var checkoutDataTotal = $('#hdnTotalOrderAmount').val();
        const options = {
            method: 'POST',
            headers: { Accept: 'text/html', 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({
                data: `{"token": "Sp7DLe",
                      "event": "Checkout Data",
                      "customer_properties": {"$email": "${checkoutEmailFromCokies}"},
                      "properties": {"Items":[${checkoutDataItems}],"$value":"${checkoutDataTotal}"}}`
            })
        };

        fetch('https://a.klaviyo.com/api/track', options)
            .then(response => response.json())
            .then(response => console.log(response))
            .catch(err => console.error(err));
        localStorage['itemsCollectionForCheckoutRos'] = "";
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //for final checkout
        var checkoutDataItems = localStorage['itemsCollectionForCheckoutRos'];
        if (checkoutDataItems != "") {
            KlaviyoFinalCheckout();
        }
        //for items collection start

        var _productUrl = "";
        var _productName = "";
        var _productSku = "";
        var _productRowTotal = "";
        var _productImageUrl = "";
        var _productDescription = "";
        var _productQuantity = "";
        var _productPrice = "";
        var _productTax = "";
        var _webditeOrigin = "";
        var items = [];
        var items2 = [];
        $('#tblPlacedOrderSummary tbody>tr').each(function () {
            $('td', this).each(function () {
                _productUrl = $(this).find('.cart-item-title').attr('href');
                _productName = $(this).find('.cart-item-title').html();
                _productSku = $(this).find('.cart-item-sku').data('sku');
                _productRowTotal = $(this).find('.placedOrderSummaryPriceClass').data('placedordersummaryitemprice');
                _productImageUrl = $(this).find('.imageUrlforCheckout').data('productimageurl');
                _productDescription = $(this).find('.cart-item-description-hid').data('cart-item-description-hid');
                _productQuantity = $(this).find('#cart-quantity').data('qty');
                _productPrice = $(this).find('#placedOrderSummaryPerItemPrice').data('placedordersummaryperitemprice');
                _webditeOrigin = window.location.origin;

                if (_productName !== undefined) {
                    var iProductName = `{"ProductName":"${_productName}"`;
                    items.push(iProductName);
                }
                if (_productSku !== undefined) {
                    var iSku = '"SKU": "' + _productSku + '"';
                    items.push(iSku);
                }
                if (_productUrl !== undefined) {
                    var iProductUrl = '"ProductUrl": "' + _webditeOrigin + _productUrl + '"';
                    items.push(iProductUrl);
                } if (_productImageUrl !== undefined) {
                    var iImageUrl = '"ImageUrl": "' + _productImageUrl + '"';
                    items.push(iImageUrl);
                }
                if (_productPrice !== undefined) {
                    var iItemPrice = '"ItemPrice": "' + '$' + _productPrice + '"';
                    items.push(iItemPrice);
                }
                if (_productQuantity !== undefined) {
                    var iItemQuantity = '"ItemQuantity": "' + _productQuantity + '"';
                    items.push(iItemQuantity);
                }
                if (_productRowTotal !== undefined) {
                    var iItemRowTotal = '"ItemRowTotal": "' + '$' + _productRowTotal + '"' + "}" + '';
                    items.push(iItemRowTotal);
                }
                if (_productDescription !== undefined) {
                    var iItemDescription = '"ItemDescription": "' + _productDescription + '"';
                    items.push(iItemDescription);
                }
                _productUrl = "";
                _productName = "";
                _productSku = "";
                _productPrice = "";
                _productImageUrl = "";
                _productDescription = "";
                _productPrice = "";
            });
        });
        if (_productSku !== undefined) {
            items2.push(items);
        }

        //for items collection end

        //for shiping and biling address collection start

        var billingFirstName = $('#billingFName').data('address-fname');
        var billingLastName = $('#billingLName').data('address-lname');
        var billingCompanyName = $('#billingCompanyName').data('address-companyname');
        var billingAddress1 = $('#billingAddOne').data('address-address1');
        var billingAddress2 = $('#billingAddTwo').data('address-address2');
        var billingCity = $('#billingCityName').data('address-cityname');
        var billingRegion = $('#billingStateName').data('address-statecode');
        var billingRegionCode = $('#billingStateName').data('address-statecode');
        var billingCountry = $('#billingCountryName').data('address-countryname');
        var billingCountryCode = $('#billingCountryName').data('address-countryname');
        var billingZip = $('#billingPostalCode').data('address-postalcode');
        var billingPhone = $('#billingPhone').data('address-phone');
        var billingEmail = $('#billingEmail').data('address-emailId');

        var shippingEmail = $('#lblShippingEmail').data('address-emailid');
        var shippingFirstName = $('#lblShippingName').data('address-fname');
        var shippingLastName = $('#lblShippingName').data('address-lname');
        var shippingCompanyName = $('#lblShippingCompany').data('address-companyname');
        var shippingAddress1 = $('#lblShippingAddress').data('address-address1');
        var shippingAddress2 = $('#lblShippingAddress').data('address-address2');
        var shippingCity = $('#lblShippingCityState').data('address-cityname');
        var shippingRegion = $('#lblShippingCityState').data('address-statecode');
        var shippingRegionCode = $('#lblShippingCityState').data('address-statecode');
        var shippingCountry = $('#lblShippingCityState').data('address-countryname');
        var shippingCountryCode = $('#lblShippingCityState').data('address-countryname');
        var shippingZip = $('#lblShippingCityState').data('address-postalcode');
        var shippingPhone = $('#lblShippingPhoneNo').data('address-phone');
        var k_OrderTotal = $('#Total').val();
        var shippingTax = $('#ShippingAddressTaxValueOnOrderPlacedSum').data('shippingaddresstaxvalueonorderplacedsum');
        if (shippingTax === undefined) {
            shippingTax = "0";
        }

        //for shiping and biling address collection end

        //localStorage['optForEmailFromPlaceOrder'];

        localStorage['shipingDataRos'] = `{"FirstName":"${shippingFirstName}","LastName":"${shippingLastName}","CompanyName":"${shippingCompanyName}","Address1":"${shippingAddress1}",
                                    "Address2":"${shippingAddress2}","City":"${shippingCity}","Region":"${shippingRegion}","RegionCode":"${shippingRegionCode}",
                                    "Country":"${shippingCountry}","CountryCode":"${shippingCountryCode}","Zip":"${shippingZip}","Phone":"${shippingPhone}"}`;

        localStorage['bilingDataRos'] = `{"FirstName":"${billingFirstName}","LastName":"${billingLastName}","CompanyName":"${billingCompanyName}","Address1":"${billingAddress1}",
                                    "Address2":"${billingAddress2}","City":"${billingCity}","Region":"${billingRegion}","RegionCode":"${billingRegionCode}",
                                    "Country":"${billingCountry}","CountryCode":"${billingCountryCode}","Zip":"${billingZip}","Phone":"${billingPhone}"}`;

        localStorage['itemsCollectionRos'] = items2;
        localStorage['emailCollectionRos'] = shippingEmail;
        localStorage['shipingTaxCollRos'] = shippingTax;
        localStorage['k_OrderTotalRos'] = k_OrderTotal;
    });
</script>
<script src="~/Scripts/NiviSolutions/Klaviyo/NiviKlaviyoCommon.js" async></script>