﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

@{
    bool isAjax = Request.IsAjaxRequest();
}
<div class="main-wrapper">
    <div class="container">
        <div class="row create-account-container">
            <div class="col-xs-12 nopadding margin-top">
                <h1 class="page-title">@WebStore_Resources.TitleRegisterAccount</h1>
            </div>
            <div class="col-xs-12 register-container margin-top-bottom nopadding">
                <div class="col-xs-12 col-sm-12 nopadding">
                    <div class="col-lg-4 col-xs-12 col-sm-7 nopadding">
                        @if (isAjax)
                        {
                            <div id="ajaxRegisterForm">
                                @using (Ajax.BeginForm("signup", "User", new AjaxOptions() { OnSuccess = "Checkout.prototype.SetUserCreationStatusMessage" }, new { id = "frmRegister" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Partial("_Register", Model)
                                    @Html.Hidden("isSinglePageCheckout", true)
                                    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 nopadding">
                                        <button type="submit" class="btn-text btn-bg-primary btn-margin-left" id="user-register" data-test-selector="btnCreateAccount" title="@WebStore_Resources.ButtonCreateAccount">@WebStore_Resources.ButtonCreateAccount</button>
                                        <button type="button" class="btn-text btn-bg-border width-auto-btn" data-dismiss="modal" data-test-selector="btnCancelAccount" title="@Admin_Resources.ButtonCancel">@Admin_Resources.ButtonCancel</button>
                                    </div>

                                }
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm("signup", "User", FormMethod.Post, new { role = "form", @id = "frmRegister" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Partial("_Register", Model)
                                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 nopadding">
                                    <button type="submit" class="btn-text btn-bg-primary btn-margin-left" id="user-register" data-test-selector="btnSubmitAccount" title="@WebStore_Resources.ButtonCreateAccount">@WebStore_Resources.ButtonCreateAccount</button>
                                    <button type="button" class="btn-text btn-bg-border width-auto-btn" onclick="javascript: location.href = '/User/Login';" data-test-selector="btnCancelAccount" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</button>
                                </div>

                            }
                        }
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $("#frmRegister").submit(function () {
        KlaviyoSubscribe();
        $("#user-register").prop("disabled", true).addClass("disabled");
        $(this).closest("form").submit();
    });
</script>
<script>
    //Validate Email
    function validateEmail(email) {
        const res = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return res.test(String(email).toLowerCase());
    };

    //Klaviyo User Subscribe List
    function KlaviyoSubscribe() {
        var registerEmail = $('#UserName').val();
        var registerFname = $('#profile_Firstname').val();
        var registerLname = $('#profile_Lastname').val();
        var validLoginEmail = validateEmail(registerEmail);
        if (validLoginEmail === true) {
            SetEmailCookie("KlaviyoEmailRos", registerEmail, 100);
        }
        var optForEmail = $('#signup_optin').prop('checked');

        if (optForEmail) {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://manage.kmail-lists.com/ajax/subscriptions/subscribe",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "token": "Sp7DLe"
                },
                "data": {
                    "g": "WCdmHG",
                    "email": "" + registerEmail + ""
                }
            }

            $.ajax(settings).done(function (response) {
                console.log(JSON.stringify(response));
            });
        }
    };
</script>
<script src="~/Scripts/NiviSolutions/Klaviyo/NiviKlaviyoCommon.js"></script>