﻿@using Znode.Engine.WebStore.ViewModels
@using System.Web.Configuration;
@using Znode.Engine.WebStore.Agents;
@model ProductViewModel
@{
    /**/
    string colorlist = "";
    
    var _portal = PortalAgent.CurrentPortal;
    string sch_name = Model?.Name;
    string sch_image = Model?.OriginalImagepath;
    string sch_url = WebConfigurationManager.AppSettings["ZnodeWebStoreUri"] + "/" + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());
    string sch_desc = Model?.SEODescription;
    string @sch_currencycode = Model?.CurrencyCode;
    string sch_price = Convert.ToString(Model?.ProductPrice);

    //string MPN = Model.SKU;
    //MPN = MPN.Substring(3, MPN.Length - 3);

    var PDPVideoLink = Model.Attributes?.Value("videourllifestyle");
    var PDPVideoLink360 = Model.Attributes?.Value("videourl360");
}
@{Boolean IsProductRated = false;
    if (Convert.ToDecimal(@Model.Rating) > 0)
    {
        IsProductRated = true;

    }

}



@if (PDPVideoLink != null || PDPVideoLink360 != null)
{
    if (PDPVideoLink != null)
    {
        <!--Life Style URL-->
        <script type="application/ld+json">
            {
            "@@context": "https://schema.org",
            "@@type": "VideoObject",
            "name": "@sch_name",
            "description": "Video Description",
            "thumbnailUrl": [
            "https://www.drewshoe.com/Views/Themes/DrewShoe/Images/VideoImg.png"
            ],
            "uploadDate": "2020-05-30T08:00:00+08:00",
            "duration": "PT1M54S",
            "contentUrl": "@PDPVideoLink",
            "embedUrl": "https://www.youtube.com/embed/",
            "interactionStatistic": {
            "@@type": "InteractionCounter",
            "interactionType": { "@@type": "http://schema.org/WatchAction" },
            "userInteractionCount": 5647018
            },
            "regionsAllowed": "NL"
            }
        </script>
    }
    if (PDPVideoLink360 != null)
    {
        <!--360 URL-->
        <script type="application/ld+json">
            {
            "@@context": "https://schema.org",
            "@@type": "VideoObject",
            "name": "@sch_name",
            "description": "Video Description",
            "thumbnailUrl": [
            "https://drewshoe.com/Views/Themes/DrewShoe/Images/360videoplayer.png"
            ],
            "uploadDate": "2020-05-30T08:00:00+08:00",
            "duration": "PT1M54S",
            "contentUrl": "@PDPVideoLink360",
            "embedUrl": "https://www.youtube.com/embed/",
            "interactionStatistic": {
            "@@type": "InteractionCounter",
            "interactionType": { "@@type": "http://schema.org/WatchAction" },
            "userInteractionCount": 5647018
            },
            "regionsAllowed": "NL"
            }
        </script>
    }
}


<!--Add Code by Nivi team for Structured Data-->
@if (IsProductRated)
{
<div id="PDPSchema" style="display:none;">
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@sch_name",
        "image": "@sch_image",
        "url": "@sch_url",
        "description": "@sch_desc",
        "color": "@colorlist",
        "sku": "@Html.RenderBlock(Model.SKU)",
        "brand": {
        "@@type": "Thing",
        "name": "@_portal.Name"
        },
        "mpn" : "@Html.RenderBlock(Model.SKU)",
        "review": {
        "@@type": "Review",
        "reviewRating": {
        "@@type": "Rating",
        "ratingValue": "@Model.ProductReviews.Count"
        },
        "author": {
        "@@type": "Person",
        "name": "@TempData["Username"]"
        },
        "reviewBody": "@TempData["Comments"]"
        },
        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingValue": "@Model.Rating",
        "reviewCount": "@Model.ProductReviews.Count"
        },
        "offers": {
        "@@type": "AggregateOffer",
        "priceCurrency":  "@sch_currencycode",
        "lowprice":  "@sch_price",
        "highprice": "@sch_price" ,
        "price":"@sch_price",
        "offerCount": "1",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "seller": {
        "@@type": "Organization",
        "name": "@_portal.Name"
        }
        }
        }
    </script>
        
</div>
        }
        else
        {
<div id="PDPSchema" style="display:none;">
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@sch_name",
        "image": "@sch_image",
        "url": "@sch_url",
        "description": "@sch_desc",
        "color": "@colorlist",
        "sku": "@Html.RenderBlock(Model.SKU)",
        "brand": {
        "@@type": "Thing",
        "name": "@_portal.Name"
        },
        "mpn" : "@Html.RenderBlock(Model.SKU)",
        "review": {
        "@@type": "Review",
        "reviewRating": {
        "@@type": "Rating",
        "ratingValue": "1"
        },
        "author": {
        "@@type": "Person",
        "name": "NA"
        },
        "reviewBody": "NA"
        },
        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingValue": "1",
        "reviewCount": "1"
        },
        "offers": {
        "@@type": "AggregateOffer",
        "priceCurrency":  "@sch_currencycode",
        "lowprice":  "@sch_price",
        "highprice": "@sch_price" ,
        "price":"@sch_price",
        "offerCount": "1",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "seller": {
        "@@type": "Organization",
        "name": "@_portal.Name"
        }
        }
        }
    </script>
</div>
}

        <script>
            $(document).ready(function () {
                var divdata = $("#dynamicPDPSchema").html();
                var reviewdata = $("#hiddenProductReviewMetaTag").html();
                reviewdata = reviewdata.slice(0, -1);
                reviewdata = '"Review": [' + reviewdata + "]}";
                var data = $("#PDPSchema").html() + "," + reviewdata + "}";
                divdata = '{' + divdata + data;
                $("#dynamicPDPSchema").html(divdata);
                $("#PDPSchema").html('');
                $("#hiddenProductReviewMetaTag").html('');
            });
        </script>

        <script id="dynamicPDPSchema" type="application/ld+json"></script>
