﻿@*<div class="newsletter-widget margin-top">
        <div class="col-xs-12 col-sm-12 col-md-12 margin-bottom mobil-nopadding"><p class="small"><span>*</span>&nbsp;@WebStore_Resources.LabelNewslatterRequiredFields</p></div>
        <div class="col-xs-12 col-sm-12 col-md-6 mobil-nopadding">
            <div class="form-group">
                <input type="text" class="form-control" id="FirstNameSignup" title="@WebStore_Resources.ColumnFirstName" placeholder="@WebStore_Resources.ColumnFirstName">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 mobil-nopadding">
            <div class="form-group">
                <input type="text" class="form-control" id="LastNameSignup" title="@WebStore_Resources.ColumnLastName" placeholder="@WebStore_Resources.ColumnLastName">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 mobil-nopadding">
            @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
            {
                <div class="form-group" id="newsletter">
                    @Html.TextBox("txtNewsLetterSignUp", "", new { required = "required", title = "Enter Your Email", placeholder = "Email Address *", @data_test_selector = "txtNewsLetterEmail" })
                </div>
            }
            <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 mobil-nopadding">
            <div class="form-group form-check">
                <label class="container-checkbox" title="Yes, please email me periodic promotions">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    @WebStore_Resources.LabelPromotionpara
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 mobil-nopadding">
            <div class="form-group">
                <button title="Submit" class="btn btn-default pull-right" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp">@WebStore_Resources.ButtonSubmit</button>
            </div>
        </div>
    </div>*@
<div class="newsletter-widget margin-top" id="divNewsLetterBody">
    <div class="col-xs-12 col-sm-12 col-md-12 margin-bottom mobil-nopadding"><p class="small"><span>*</span>&nbsp;@WebStore_Resources.LabelNewslatterRequiredFields</p></div>
    <div class="col-xs-12 col-sm-12 col-md-6 mobil-nopadding">
        <div class="form-group">
            <input type="text" class="form-control" id="FirstNameSignup" title="@WebStore_Resources.ColumnFirstName" placeholder="@WebStore_Resources.ColumnFirstName">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mobil-nopadding">
        <div class="form-group">
            <input type="text" class="form-control" id="LastNameSignup" title="@WebStore_Resources.ColumnLastName" placeholder="@WebStore_Resources.ColumnLastName">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 mobil-nopadding">
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="form-group" id="newsletter">
                @Html.TextBox("txtNewsLetterSignUp", "", new { required = "required", title = "Enter Your Email", placeholder = "Email Address *", @data_test_selector = "txtNewsLetterEmail" })
            </div>
        }
        <p id="newslettererrormessage" class="text-danger" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 mobil-nopadding">
        <div class="form-group form-check">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 mobil-nopadding">
        <div class="form-group">
            <button title="button" class="btn btn-default pull-right" id="btnNewsLetterSignUp" type="button" onclick="KlaviyoUpdateProfileTrackNew();" data-test-selector="btnNewsLetterSignUp">@WebStore_Resources.ButtonSubmit</button>
        </div>
    </div>
</div>
<div class="newsletter-widget margin-top hidden" id="divNewsLetterMessage">
    <h2 style="color:#b7699b">Thanks for subscribing!</h2>
</div>
<script>
    window.addEventListener("klaviyoForms", function (e) {
        if (e.detail.type == 'submit') {
            var data = JSON.stringify(e.detail.metaData);
            var dataValue = JSON.parse(data);
            var customerEmailFromSignUpForm = dataValue.$email;
            SetEmailCookie("KlaviyoEmailRos", customerEmailFromSignUpForm, 100);
            ga('send', 'event', 'Klaviyo form', 'form_submit', e.detail.formId);
            location.reload(true);
        }
    });
</script>
<script>
    $(document).ready(function () {
        var queryValue = KlaviyoGetExchangeIdFromQueryString();
        if (queryValue !== undefined) {
            if (queryValue) {
                $.post("/dscustom/KlaviyoEmailToLandForRoshommerson/",
                    {
                        data: JSON.stringify(queryValue)
                    },
                    function (data, status) {
                        //alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
                        var res = JSON.stringify(data);
                        var result = JSON.parse(res);
                        if (result.isSuccess === true) {
                            if (result.message !== "") {
                                SetEmailCookie("KlaviyoEmailRos", result.message, 100);
                            }
                        }
                    });
            }
        }
    });
    function KlaviyoGetExchangeIdFromQueryString() {
        var url = document.location.href;
        var qs = url.substring(url.indexOf('?') + 1).split('&');
        for (var i = 0, result = {}; i < qs.length; i++) {
            qs[i] = qs[i].split('=');
            result[qs[i][0]] = decodeURIComponent(qs[i][1]);
        }
        var data = JSON.stringify(result);
        var dataValue = JSON.parse(data);
        //utm_medium=email
        if (dataValue.utm_medium !== "email") {
            return false;
        }
        return dataValue._kx;
    };

    function KlaviyoUpdateProfileTrackNew() {
        var newsLetterEmail = $('#txtNewsLetterSignUp').val();
        var newsLetterFname = $('#FirstNameSignup').val();
        var newsLetterLname = $('#LastNameSignup').val();
        SetEmailCookie("KlaviyoEmailRos", newsLetterEmail, 100);
        if (newsLetterEmail === '') {
            $('#newslettererrormessage').css('display', 'block');
            $('#newslettererrormessage').text('Email ID is required.');
            return
        }
        else {
            $('#newslettererrormessage').css('display', 'none');
            $('#newslettererrormessage').text('');
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://manage.kmail-lists.com/ajax/subscriptions/subscribe",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "token": "Sp7DLe"
                },
                "data": {
                    "g": "WCdmHG",
                    "email": "" + newsLetterEmail + "",
                    "$first_name": "" + newsLetterFname + "",
                    "$last_name": "" + newsLetterLname + ""
                }
            }

            $.ajax(settings).done(function (response) {
                console.log(response);
                $("#divNewsLetterBody").addClass("hidden");
                $("#divNewsLetterMessage").removeClass("hidden");
            });
        }
    };
</script>
<script src="~/Scripts/NiviSolutions/Klaviyo/NiviKlaviyoCommon.js"></script>