﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
	UOM = "";
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isObsolete = Convert.ToBoolean(Model?.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());

    int icount = 1;
    int index = 0;
    string ProductImage = Model.Attributes.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.ProductImage)?.AttributeValues;
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
    string smallimagePath = Model.ImageSmallPath.Substring(0, Model.ImageSmallPath.LastIndexOf('/'));
    var MinPrice = "";
    var MaxPrice = "";

    if (Convert.ToString(Model.Attributes?.Value("MinPrice")) != null)
    {
        MinPrice = Model.Attributes?.Value("MinPrice").ToString();
    }
    if (Convert.ToString(Model.Attributes?.Value("MaxPrice")) != null)
    {
        MaxPrice = Model.Attributes?.Value("MaxPrice").ToString();
    }
    string Colorclass = "";
}
<div class="item1">
    <div class="product-item">
        <!--Nivi code for fallundercategory -->
        <div class="pull-left newprdimg" id="Fallundercategory">
            @{List<AttributesSelectValuesViewModel> codesList = new List<AttributesSelectValuesViewModel>();
                            codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "fallundercategory")?.SelectValues?.ToList();
                            string fallUnderCategoryCode = "";

                            try { fallUnderCategoryCode = Convert.ToString(codesList?.FirstOrDefault()?.Code); } catch { fallUnderCategoryCode = ""; }
                            
                            if (!string.IsNullOrEmpty(fallUnderCategoryCode))
                            {
                                if (fallUnderCategoryCode.ToLower() == "clearance")
                                {
                        <img src="@_fileLocation/Images/Clearance.png" data-src="@_fileLocation/Clearance.png" alt="Clearance Product" class="img-responsive" />
                    }
                    if (fallUnderCategoryCode.ToLower() == "sale")
                    {
                        Colorclass = "text-danger";
                        <img src="@_fileLocation/Images/Sale.png" data-src="@_fileLocation/Sale.png" alt="Sale Product" class="img-responsive" />
                    }
                    if (fallUnderCategoryCode.ToLower() == "new")
                    {
                        <img src="@_fileLocation/Images/New.png" data-src="@_fileLocation/New.png" alt="New Product" class="img-responsive" />
                    }
					if (fallUnderCategoryCode.ToLower() == "newcolor")
                    {
                        <img src="@_fileLocation/Images/NewColor.png" data-src="@_fileLocation/NewColor.png" alt="New Product" class="img-responsive" />
                    }
                }
            }
        </div>
        <!--Nivi code end-->
        <div class="view-item">
            <div class="product-img">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                        }
                        <img id="@Model.PublishProductId" class="img-responsive b-lazy" data-src="@imageSrc" alt="Product" data-test-selector="imgProductImage" />
                    </div>
                </a>

            </div>
            <!--Nivi code for Swatch Images -->
            <div class="product-details setheight margin-bottom" id="SwatchImageSection">
                <ul class="nav">
                    @if (Model.AlternateImages.Count() >= 1)
                    {
                        foreach (var img in Model.AlternateImages)
                        {
                            string activeclass = "";
                            if (icount <= 5)
                            {
                                index = img.ImageSmallPath != null ? img.ImageSmallPath.LastIndexOf('/') : 0;
                                string SwatchImage = img.ImageSmallPath != null ? img.ImageSmallPath.Substring(index + 1) : string.Empty;
                                string SwatchImagePath = smallimagePath + "/" + SwatchImage;
                                <li class="@activeclass">
                                    @if (img.ImageSmallThumbNail.Contains("Shown.jpg"))
                                    {
                                        <img id=@icount@Model.PublishProductId src="@img.ImageSmallThumbNail" style="height:20px;" class="img-responsive setswatch" data-src="@img.ImageSmallThumbNail" alt="@img.ImageLargePath" />
                                    }
                                    else
                                    {
                                        <img id=@icount@Model.PublishProductId src="@img.ImageSmallThumbNail" class="img-responsive setswatch" Swatch-img="@SwatchImagePath" data-src="@img.ImageSmallThumbNail" alt="@img.ImageLargePath" title="@img.ImageLargePath" onclick="clickme($(this),@Model.PublishProductId,@icount@Model.PublishProductId);" />
                                    }
                                </li>
                            }
                            icount++;
                        }
                    }
                </ul>
                @if (Model.AlternateImages.Count() > 5)
                {
                    <div class="moreColorsIcon">
                        <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())"
                           title="more colors">+</a>
                    </div>
                }
            </div>
            <!--Nivi code end-->
            <div class="product-details">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    <h4 class="title" data-test-selector="hdgProductTitle">@WebUtility.HtmlDecode(Model.Name)</h4>
                </a>
                @*<div class="product-rating">
            @Html.Partial("_StarRating", Model.Rating)
            @ratingText <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile" data-test-selector="linkReviewText">@WebStore_Resources.LinkTextReadReviews</a>
        </div>*@
                @if (isObsolete)
                {
                    <div class="product-inventory pb-2">
                        <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl)) </h4></div>
                    </div>
                }
                @if (CallForPricing)
                {
                    <div class="price"><label>@callForPricingMessage</label></div>
                }
                else
                {
                    <div class="price @Colorclass" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                            {
                                <label>@Model.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.SalesPrice, null))
                                {
                                    @*<span class="@obsoleteClass @Colorclass" data-test-selector="spnSalesPrice">
                                 @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                   </span>*@

                                    if (MinPrice == "" || MaxPrice == "" || MinPrice == "" && MaxPrice == "")
                                    {
                                        <span class="@obsoleteClass @Colorclass" data-test-selector="spnSalesPrice">
                                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(MinPrice))
                                        {
                                            <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                                $@MinPrice -
                                            </span>

                                        }
                                        if (!string.IsNullOrEmpty(MaxPrice))
                                        {
                                            <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                                $@MaxPrice
                                            </span>
                                        }
                                    }
                                    if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price @Colorclass" data-test-selector="spnCutPrice">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.PromotionalPrice > 0)
                                    {

                                        <label class="@obsoleteClass @Colorclass">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</label>
                                        <span class="cut-price @Colorclass" data-test-selector="spnCutPrice">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>

                                    }
                                    else
                                    {
                                        <span class="@obsoleteClass @Colorclass" data-test-selector="spnPromotionalPrice">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }
                    </div>
                }
                <div class="margin-top">
                    <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())" data-test-selector="linkViewMoreDetails"
                       class="margin-top" title="@WebStore_Resources.TextViewMoreDetails">@WebStore_Resources.TextViewMoreDetails></a>
                </div>
            </div>
        </div>
    </div>
</div>