﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string disable = CallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
	UOM = "";
    //string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());
    string productOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceData(this,'" + Model.SKU + "')" : "";
    int icount = 1;
    int index = 0;
    index = Model.ImageSmallPath != null ? Model.ImageSmallPath.LastIndexOf('/') : 0;
    string ProductImage = Model.ImageSmallPath != null ? Model.ImageSmallPath.Substring(index + 1) : string.Empty;
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
	string smallimagePath = Model.ImageSmallPath != null ? Model.ImageSmallPath.Substring(0, Model.ImageSmallPath.LastIndexOf('/')) : string.Empty;
    var MinPrice = "";
    var MaxPrice = "";
    if (Convert.ToString(Model.Attributes?.Value("MinPrice")) != null)
    {
        MinPrice = Model.Attributes?.Value("MinPrice").ToString();
    }
    if (Convert.ToString(Model.Attributes?.Value("MaxPrice")) != null)
    {
        MaxPrice = Model.Attributes?.Value("MaxPrice").ToString();
    }
    string Colorclass = "";
}
<div class="view-item">
    <div class="product-img">
        
        <a data-test-selector="linkProductURL" href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())" onclick="@productOnClickEvent" title="@Html.RenderBlock(Model.Name)">
            <!--Nivi code for fallundercategory-->
            <div id="Fallundercategory">
                @{List<AttributesSelectValuesViewModel> codesList = new List<AttributesSelectValuesViewModel>();
                    codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "fallundercategory")?.SelectValues?.ToList();
                    string fallUnderCategoryCode = "";

                    try { fallUnderCategoryCode = Convert.ToString(codesList?.FirstOrDefault()?.Code); } catch { fallUnderCategoryCode = ""; }
                    if (!string.IsNullOrEmpty(fallUnderCategoryCode))
                    {
                        if (fallUnderCategoryCode.ToLower() == "clearance")
                        {
                            <img src="@_fileLocation/Images/Clearance.png" data-src="@_fileLocation/Images/Clearance.png" alt="Clearance Product" class="img-responsive" />
                        }
                        if (fallUnderCategoryCode.ToLower() == "sale")
                        {
                            Colorclass = "text-danger";
                            <img src="@_fileLocation/Images/Sale.png" data-src="@_fileLocation/Images/Sale.png" alt="Sale Product" class="img-responsive" />
                        }
                        if (fallUnderCategoryCode.ToLower() == "new")
                        {
                            <img src="@_fileLocation/Images/New.png" data-src="@_fileLocation/Images/New.png" alt="New Product" class="img-responsive" />
                        }
                        if (fallUnderCategoryCode.ToLower() == "newcolor")
                        {
                            <img src="@_fileLocation/Images/NewColor.png" data-src="@_fileLocation/Images/NewColor.png" alt="New Product" class="img-responsive" />
                        }
                       
                    }
                }
            </div>
            <!--Nivi code end-->
            <div class="image">
                @{
                    string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                }
                <img data-test-selector="imgProductImage" id="@Model.PublishProductId" class="img-responsive b-lazy" src="@imageSrc" data-src="@imageSrc" alt="@Html.RenderBlock(Model.Name)" />
            </div>
        </a>

        @if (isObsolete)
        {
            <div class="product-inventory pb-2">
                <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl))</h4></div>
            </div>
        }
    </div>

    <!--Nivi code end-->
    <div class="product-details">
        <div class="margin-bottom" id="SwatchImageSection">
            <!--Nivi code for Swatch Images for PLP -->
            <ul class="nav">
               @*@foreach (var swatch in Model.SwatchAttributesValues)
       {
           string activeclass = "";
           if (icount <= 5)
           {

               index = swatch.ImageSmallPath != null ? swatch.ImageSmallPath.LastIndexOf('/') : 0;
               string SwatchImage = swatch.ImageSmallPath != null ? swatch.ImageSmallPath.Substring(index + 1) : string.Empty;
               string SwatchImagePath = smallimagePath + "/" + SwatchImage;
               <li class="@activeclass"><img id=@icount@Model.PublishProductId src="@swatch.ImageSmallThumbnailPath" class="img-responsive setswatch" Swatch-img="@SwatchImagePath" alt="@swatch.Value" title="@swatch.Value" onclick="clickme($(this),@Model.PublishProductId,@icount@Model.PublishProductId);" /></li>
           }
           icount++;
       }*@
               @foreach (var swatch in Model.SwatchAttributesValues)
               {
                   string activeclass = "";
                   if (icount <= 5)
                   {

                       //index = swatch.ImageSmallPath != null ? swatch.ImageSmallPath.LastIndexOf('/') : 0;
                       //string SwatchImage = swatch.ImageSmallPath != null ? swatch.ImageSmallPath.Substring(index + 1) : string.Empty;


                       string SwatchImage = "";
                       try
                       {
                           SwatchImage = swatch.ImageSmallPath.Substring(swatch.ImageSmallPath.LastIndexOf('/'));
                       }
                       catch { }



                       string SwatchImagePath = smallimagePath + "/" + SwatchImage;
                       <li class="@activeclass"><img id=@icount@Model.PublishProductId src="~/Views/Themes/DrewShoe/Images/loading.gif" class="img-responsive b-lazy setswatch" Swatch-img="@SwatchImagePath" data-src="@swatch.ImageSmallThumbnailPath" alt="@swatch.Value" title="@swatch.Value" onclick="clickme($(this),@Model.PublishProductId,@icount@Model.PublishProductId);" /></li>
                   }
                   icount++;
               }

           </ul>
           @if (icount > 5)
           {
               <div class="moreColorsIcon">
                   <a href="@productUrl"
                      title="more colors">+</a>
               </div>
           }
        </div>

        <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())" onclick="@productOnClickEvent" title="@Html.RenderBlock(Model.Name)">
            <h4 data-test-selector="hdgProductName" class="title">@Html.RenderBlock(Model.Name)</h4>
        </a>

        @if (CallForPricing)
        {
            <div data-test-selector="divPrice" class="price"><label>@callForPricingMessage</label></div>
        }
        else
        {
            <div data-test-selector="divPrice" class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                @if (!Helper.IsAsyncPrice)
                {
                    if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                        <label>@Model.GroupProductPriceMessage</label>
                    }
                    else
                    {
                        if (!Equals(Model.SalesPrice, null))
                        {
                            <span data-test-selector="spanPrice" class="@obsoleteClass @Colorclass">
                                @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                {
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)
                                }
                                else
                                {

                                    if (MinPrice == "" || MaxPrice == "" || MinPrice == "" && MaxPrice == "")
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(MinPrice))
                                        {
                                            <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                                $@MinPrice -
                                            </span>

                                        }
                                        if (!string.IsNullOrEmpty(MaxPrice))
                                        {
                                            <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                                $@MaxPrice
                                            </span>
                                        }
                                    }

                                }
                            </span>
                            if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                            {
                                <span data-test-selector="spanCutPrice" class="cut-price @Colorclass">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                                </span>
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                <label class="@obsoleteClass @Colorclass">
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)
                                </label>
                                <span data-test-selector="spanCutPrice" class="cut-price @Colorclass">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                                </span>
                            }
                            else
                            {
                               
                                if (MinPrice == "" || MaxPrice == "" || MinPrice == "" && MaxPrice == "")
                                {
                                <span data-test-selector="spanPrice" class="@obsoleteClass @Colorclass">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                                </span>
                                }
                                else
                                {
                                    if (!string.IsNullOrEmpty(MinPrice))
                                    {
                                        <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                            $@MinPrice -
                                        </span>

                                    }
                                    if (!string.IsNullOrEmpty(MaxPrice))
                                    {
                                        <span class="SalePrice @Colorclass" data-test-selector="spanPrice">
                                            $@MaxPrice
                                        </span>
                                    }
                                }
								
                            }
                        }

                    }

                }
                else
                {
                    <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                }

            </div>
            if (!string.IsNullOrEmpty(disable) && !isObsolete)
            {
                <div class="item-error-msg">
                    <p class="error-msg">@Model.InventoryMessage</p>
                </div>
            }
        }
        <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())" onclick="@productOnClickEvent" data-test-selector="linkViewMoreDetails"
           class="margin-top" title="@WebStore_Resources.TextViewMoreDetails">@WebStore_Resources.TextViewMoreDetails></a>
    </div>
</div>
