﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ShortProductViewModel
@{
	Layout = null;
	string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
	bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
	ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
	if (HelperUtility.IsNotNull(promotionCallForPricing))
	{
		IsCallForPricing = true;
		callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
	}
	string disable = IsCallForPricing || !Model.InventoryDetails.ShowAddToCart ? "disabled" : "";
	bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
	var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
	string inventoryMessageClass = Model.InventoryDetails.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
	string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
	UOM = "";
	Model.CartParameter.Add("IsRedirectToCart", "False");
}
<div class="col-xs-12 product-info">
    <div class="col-xs-12 product-price nopadding">

        @if (isGroupProduct && !IsCallForPricing)
        {
            <h2>
                <span id="groupproductmessage"></span>
            </h2>
        }
    </div>
    <span data-test-selector="lblMainQuantityErrMsg" id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
    <div class="col-xs-12 nopadding">
        @{
            if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
            {
                Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
            }
        }
    </div>

    <div class="col-xs-12 product-variations nopadding" id="scrollReview">
        <div class="col-xs-12 nopadding your-pricing">
            <div class="col-xs-12 col-sm-7 col-md-6 nopadding">
                @if (!IsCallForPricing && !isGroupProduct)
                {
                <div class="price" id="product_Detail_Price_Div">
                    <span data-test-selector="lblYourPrice">@WebStore_Resources.ColumnYourPrice</span>
                    @if (!Equals(Model.Pricing.SalesPrice, null))
                    {
                        <h3 class="dynamic-product-price">@Helper.FormatPriceWithCurrency(Model.Pricing.SalesPrice, Model.Pricing.CultureCode, UOM)</h3>
                        if (Model.Pricing.SalesPrice != @Model.Pricing.RetailPrice)
                        {
                            <span class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.Pricing.RetailPrice, Model.Pricing.CultureCode, UOM)
                            </span>
                        }
                    }
                    else
                    {
                        if (HelperUtility.IsNotNull(Model.Pricing.PromotionalPrice))
                        {
                            <h3 data-test-selector="lblPriceCut" class="dynamic-product-price">@Helper.FormatPriceWithCurrency(Model.Pricing.PromotionalPrice, Model.Pricing.CultureCode, UOM)</h3>                       
                            <span data-test-selector="spanCutPrice" class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.Pricing.RetailPrice, Model.Pricing.CultureCode, UOM)
                            </span>
                        }
                        else
                        {
                            <h3 data-test-selector="lblPrice"class="dynamic-product-price">@Helper.FormatPriceWithCurrency(Model.Pricing.ProductPrice, Model.Pricing.CultureCode, UOM)</h3>
                        }
                    }
                </div>
                }
                @if (IsCallForPricing)
                {
                    <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
                }
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 nopadding">
                @*@Html.AddToCartLink(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text-full btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable)*@

                @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text-full btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
            </div>
        </div>

        <div class="col-xs-12 product-customize nopadding">
            <div class="col-xs-12 nopadding">
                @if (PersonliseValues?.Count > 0)
                {
                    Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
                    PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                }
            </div>
            <div class="col-xs-12 nopadding tier-price">
                @if (Model.Pricing.TierPriceList?.Count > 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tier Quantity</th>
                                <th>Price/Item</th>
                                <th>You Save</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Pricing.TierPriceList)
                            {
                                <tr>
                                    <td>@Convert.ToDouble(item.Quantity)</td>

                                    <td>@Helper.FormatPriceWithCurrency(item.Price, Model?.Pricing.CultureCode) </td>
                                    @* Calculates the % savings on tier pricing *@
                                    <td>
                                        @if (Model.Pricing.ProductPrice != null)
                                        {
                                            <span>@Math.Ceiling((decimal)(100 - ((100 / Model.Pricing.ProductPrice) * item.Price))) %</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="col-xs-12 addons-attributs">
                @if (isGroupProduct)
                {
                    var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                    <div id="groupProductList">
                        @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing });}
                    </div>
                    @Html.HiddenFor(m => m.InventoryDetails.ShowAddToCart)
                }
                else
                {
                    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                        @Html.Partial("_ProductAttributesLite")
                    </div>
                }
                <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                    @Html.Partial("_AddOnsLite")
                </div>
            </div>
        </div>
        @Html.Partial("_AddToWishList", new ProductViewModel { PublishProductId = Model.PublishProductId, SKU = Model.SKU})
        <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
    </div>
</div>
<script>
	$(function () {
		Product.prototype.RegisterDomEvents();
	});
</script>