﻿@using Znode.WebStore.Custom.ViewModel
@using System;
@using System.Collections.Generic;
@using Newtonsoft.Json;
@model  DSCustomListViewModel
@{

    Layout = null;
    //var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var attributes = Model?.InventoryList?.ToList();
    string strserialize = "";
    string UnAvailableSizeCsv = "";
    //string csvstring = "";
    var i = 1;
    var inventorymax = 0;
}

<div class="col-lg-12 col-xs-12 nopadding">
    <div class="col-lg-12 col-xs-12 nopadding gridset-formobile">

        <div class="table-responsive">
            <table class="table table text-center table-grid-PDP" id="Inventorygridtable">
                <tbody>
                    @{
                        //decimal inventory = 0;
                        string classNameInventoryGreen = "";
                        UnAvailableSizeCsv = Model?.InventoryList?.Where(x => x.Drewwidth == "ALL")?.Select(x => x.Size)?.FirstOrDefault();
                        var RemoveItem = Model?.InventoryList?.Where(x => x.Drewwidth == "ALL").FirstOrDefault();
                        if (RemoveItem != null)
                        {
                            Model?.InventoryList?.Remove(RemoveItem);
                        }
                        List<string> DistinctColor = Model?.InventoryList?.Select(x => x.Drewwidth).Distinct().ToList();
                        if (DistinctColor != null)
                        {
                            DistinctColor.Insert(0, DistinctColor[0]);
                            int iteration = 0;
                            foreach (string width in DistinctColor)
                            {

                                <tr>
                                    <th class="text-center left_width_data">
                                        @if (iteration != 0)
                                        {
                                            <p class="table1">@(string.IsNullOrEmpty(width) ? "Units" : width)</p>
                                            <p class="table2">Available</p>
                                            @*<p class="table3">Next Available Quantity</p>*@
                                            <p class="table3">Next Available Ship Date</p>
                                        }
                                    </th>
                                    @{
                                        var list = Model?.InventoryList?.Where(x => x.Drewwidth == width).ToList();

                                        foreach (var item in list)
                                        {
                                            if (iteration == 0)
                                            {

                                                <th class="text-center top_size_data"><span>@item.Size</span> </th>

                                            }
                                            else
                                            {
                                                classNameInventoryGreen = "";
                                                decimal value = Convert.ToDecimal(Convert.ToString(item.Inventory));
                                                int inventory = Convert.ToInt32(value);
                                                decimal BackQuantity = Convert.ToDecimal(Convert.ToString(item.BackOrderQuantity));
                                                int BackOrderQuantity = Convert.ToInt32(BackQuantity);
                                                //string date = Convert.ToString(item.BackOrderExpectedDate);
                                                var todaysDate = DateTime.Today;
                                                if (todaysDate <= item.BackOrderExpectedDate)
                                                {
                                                    inventorymax = inventory + BackOrderQuantity;
                                                }
                                                else
                                                {
                                                    inventorymax = inventory;
                                                }


                                                if (inventory > 0)
                                                {
                                                    <td class="checkbox_data">
                                                        <p class="table1"><input type="text" id="Quantity" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" data-test-selector="txtQuantity" name="Quantity" data-sku="@item.SKU" data-content="@(string.IsNullOrEmpty(item.BackOrderExpectedDate.ToString())?item.BackOrderExpectedDate.ToString():DateTime.Now >item.BackOrderExpectedDate?string.Empty: item.BackOrderExpectedDate.ToString())" data-maxQuantity="@inventorymax" data-minQuantity="1" data-parentProductId="@item.ParentProductId" class="quantity input-number" data-inventory='@item.Inventory' onchange="OnQuantityChange($(this));" /></p>
                                                        <p class="table2">@inventory</p>

                                                        @if (item.BackOrderExpectedDate != null)
                                                        {
                                                            if (todaysDate <= item.BackOrderExpectedDate)
                                                            {

                                                                <p class="table3">@Convert.ToString(string.Format("{0:MM/yy}", item.BackOrderExpectedDate))</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="table3 no_data">--</p>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <p class="table3 no_data">- -</p>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="">

                                                        @if (todaysDate <= item.BackOrderExpectedDate)
                                                        {
                                                            <p class="table1"><input type="text" maxlength="3" id="Quantity1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" data-test-selector="txtQuantity" name="Quantity" data-sku="@item.SKU" data-content="@item.BackOrderExpectedDate" data-maxQuantity="@item.BackOrderQuantity" data-minQuantity="1" data-parentProductId="@item.ParentProductId" class="quantity input-number" data-inventory='@item.Inventory' onchange="OnQuantityChange($(this));" /></p>
                                                            <p class="table2 no_data">NA</p>
                                                            @*<p class="table3 checkbox_data">@BackOrderQuantity</p>*@
                                                        }
                                                        else
                                                        {
                                                            <p class="table1 no_data">NA</p>
                                                            <p class="table2 no_data">--</p>
                                                            @*<p class="table3 no_data">--</p>*@
                                                        }
                                                        @if (item.BackOrderExpectedDate != null && todaysDate <= item.BackOrderExpectedDate)
                                                        {
                                                            <p class="table3 checkbox_data" id="datecheck">@Convert.ToString(string.Format("{0:MM/yy}", item.BackOrderExpectedDate))</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="table3 no_data">--</p>
                                                        }

                                                    </td>
                                                }
                                            }
                                        }

                                        <td class="total">
                                            @if (i == 1)
                                            {
                                                <b>Total</b>
                                                i = 2;
                                            }
                                            else
                                            {
                                                <p><b class="totquantity">&nbsp;&nbsp;$ 00.00 </b></p>
                                            }
                                        </td>

                                    }
                                </tr>
                                iteration++;
                            }

                        }
                    }
                </tbody>
            </table>

            <div id="strserialize" hidden>@strserialize</div>
            <input type="hidden" id="hdnUnAvailableSize" value="" />
            <input type="hidden" id="csvstring" value="" />
        </div>
        <div class="col-xs-12 col-lg-12 nopadding total-grid-PDP">
            <p><b class="grandtotqnt">Total :&nbsp;&nbsp;$ 00.00</b></p>
        </div>
    </div>
</div>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<script>
    function OnQuantityChange() {
        var qnt = 0;
        
        $('#Inventorygridtable input').each(function () {
            if (parseInt($(this).val()) > parseInt($(this).attr("data-maxquantity")) && ($(this).attr("data-content")) == "") {

                //alert("Quantity Should not exceed the inventory level.");

                $('#quantity-error-msg-new').text("Quantity Should not exceed the inventory level.");
                //this.value = parseInt($(this).attr("data-maxquantity"));
                this.value = "";

            }
            else {
                if (this.value != 0) {
                    var tbl = $('#Inventorygridtable');
                    var sum = 0;
                    $('#quantity-error-msg-new').text("");
                    tbl.find('tr').each(function () {
                        var amount = 0;
                        var total = 0;
                        $(this).find('input[type=text]').not('.totquantity').each(function () {
                            if (!isNaN(this.value) && this.value.length != 0) {
                                //var val = $('#inventoryprice').text();
                                var val = $("#inventoryprice").text().replace("$", "");
                                amount = (this.value) * parseFloat(val);
                                total += (this.value) * parseFloat(val)
                                sum += amount;
                            }
                        });
                        $(this).find('.totquantity').text("$" + total.toFixed(2));
                    });
                    $('.grandtotqnt').text(" Total : $ " + sum.toFixed(2));
                }
                else {
                    this.value = "";
                }
            }
        });
    }
</script>