﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.Agents
@model StoreLocatorViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
    ViewBag.Title = "Store Locator | Drew Shoes";
    ViewBag.Description = "Find Drew Shoes store locations";
    string ipAddress = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
    if (string.IsNullOrEmpty(ipAddress))
    {
        ipAddress = Request.ServerVariables["REMOTE_ADDR"];
    }
    ViewBag.IPAddress = ipAddress;
    string res = "https://ipinfo.io/" + ipAddress + "?token=db6cee51b378dc";
}
<input type="hidden" id="hdnIPAddress" value="@res" />
<div id="message" style="display:none;">
    @Html.RenderMessage("StoreLocatoreTiming")
</div>
<div class="main-wrapper">
    <div class="container ContainerSection">
        <div class="contain-pages StoreLocator margin-top-50">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="lblPageTitle">Store Locator</h1>
            </div>

            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="">
                    <div class="Form col-xs-12 col-sm-8 col-lg-12 nopadding LableForm margin-top-50">
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 nopadding">
                            <div class="col-lg-12 nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <input type="text" id="txtzipcitystate" required="required" title="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" placeholder="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" />
                                        <span id="error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.PostalCode)

                        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 padding-top-10 mobil-nopadding">
                            <div class="FieldStyle LeftContent">
                                <button id="btnSubmit" title="@WebStore_Resources.ButtonSubmit" type="button" value="submit" class="btn-text-full btn-bg-blue" onclick="InStorePickUp.prototype.GetLatLng('storelocator');" data-test-selector="btnSubmitLocateStore">@WebStore_Resources.ButtonSubmit</button>
                                <p class="m-4">OR</p>
                                <button title="Use My Current Location" type="button" class="btn-text-full btn-bg-blue" onclick="InStorePickUp.prototype.GetLocation('storelocator');">
                                    Use My Location
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xs-12">
                            <center><div class='dynamic'></div></center>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div id="address"></div>
                    </div>
                </div>
                @Html.Hidden("ImagePathURL", imagePath);
                <div class="col-xs-12 nopadding store-locator-block margin-top margin-bottom">
                    @if (!Equals(Model, null) && !Equals(Model.PortalList, null) && Model.PortalList.Count > 0)
                    {
                        <div class="col-xs-12 nopadding">
                            <div id="layout-content">
                                <div class="col-xs-12 margin-top-bottom nopadding store-locator-view">
                                    @*<h3>Store Locator Details &nbsp;<small>@Html.RenderMessage("StoreLocatorTime") </small></h3>*@
                                    <div id="storedetails" class="col-lg-12 col-xs-12 col-ms-12 col-sm-12 nopadding margin-top">
                                        @{var a = @Html.RenderMessage("StoreLocatorText").ToString().Replace("below", "");
                                        }
                                        <h2>@a</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 error-msg">
                    @Html.Label("", Model.ErrorMessage)
                </div>
            }
        </div>

    </div>
</div>
<div class="modal" id="Confirmstore">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="padding:10px;">
                <h4 class="modal-title">Change Pickup Location</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 msgstorelocation text-center">
                        <p>Please note:</p>
                    </div>
                    <div class="col-lg-12 text-center margin-bottom">
                        @Html.RenderMessage("ChangeStorePopUp")
                    </div>
                    <div class="col-lg-12 text-center" style="margin-bottom: 15px!important;">
                        <button type="button" class="btn btn-danger btn-big-set" data-dismiss="modal" style="margin-right: 15px;">CANCEL</button>
                        <button type="button" id="btnProceed" class="btn btn-primary btn-big-set" data-dismiss="modal" data-storeid="" data-storename="" data-storeaddress="" onclick="InStorePickUp.prototype.ShowStores(this);">PROCEED</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" style="display:none;" id="btnConfirmStorePopUp" data-toggle="modal" data-target="#Confirmstore"></button>
@Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)
@Html.Hidden("WebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
<!--Keys to be fetched from config file-->
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&v=3&libraries=geometry&callback=myMap" type="text/javascript"></script>

@*nivi code to get value from query string*@
<script>
    $(document).ready(function () { for (var d = document.location.href, b = d.substring(d.indexOf("?") + 1).split("&"), a = 0, e = {}; a < b.length; a++)b[a] = b[a].split("="), e[b[a][0]] = decodeURIComponent(b[a][1]); var f = JSON.stringify(e), c = JSON.parse(f); void 0 === c.searchterm || "" == c.searchterm || ($("#txtzipcitystate").val(c.searchterm), InStorePickUp.prototype.GetLatLng("storelocator")) })
</script>
