﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
<div class="col-xs-12 col-sm-12 product-wishlist nopadding hidden">
    <div class="col-xs-12 col-sm-8 col-md-11 nopadding">
        <a data-toggle="modal" href="#" data-target="#modelEmailToFriend" title="Email A Friend" class="button-wishlist hidden"><i data-test-selector="linkMail" class="zf-envelope" title="Email A Friend"></i>&nbsp; Email A Friend</a>
        &nbsp;&nbsp;&nbsp;
        <a data-test-selector="btnWishList" href="#" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="button-wishlist hidden" onclick="Product.prototype.AddToWishList(this)" title="@WebStore_Resources.ButtonAddToWishlist"><i class="zf-heart"></i>&nbsp;@WebStore_Resources.ButtonAddToWishlist</a>
    </div>
</div>
@Html.Action("EmailToFriend", "Product")
<script>
    jQuery(document).ready(function (e) {
        $("#ProductName").val($(".product-name").html());
        jQuery('#modelEmailToFriend').trigger('click');
    });
</script>