﻿@import "../_base.scss";

// Button
.btn {
    border-radius: 0px;
    &:focus{outline: 1px dotted $anchor-tag-fgcolor-hover!important;}
}
.btn-text{
    @include btn-text;
    font:{ 
      size:14px;
      weight:$base-font-bold;
   }        
   padding:0 10px;margin-left:5px;height:45px;line-height:45px;border-radius:0px;font-weight:normal;text-transform:uppercase;margin-top:10px;
   &:hover,&:focus,&:active{color:$base-color-white;outline: none;}
}
.btnCompleteCheckout{
    width:100% !important;
}

.btn-text-icon {
    @include btn-text;

    font: {
        size: 14px;
        weight: $base-font-bold;
    }

    padding: 0 15px 1px 10px;
    height: 45px;
    line-height: 45px;
    margin-left: 0px;
    font-weight: normal;
    width: 100%;

    &:hover, &:focus, &:active {
        color: $base-color-white;
        outline: black;
    }

    i {
        padding-right: 5px;
        font-size: $base-font-size + 3;
        line-height: 45px;
        float: left;
    }
}
.btn-text-full{
    @include btn-text;
    font:{ 
      size:16px;
      family:$base-font-family-bold;
   }
   width:60%;padding:0 15px 1px 10px;height:45px;line-height:45px;border-radius:0px;text-transform:uppercase;
   &:hover,&:focus,&:active{color:$base-color-white;outline: none;}
   i{float: left;font-size:28px;line-height:45px;padding-right:10px;border-right: 1px solid $border-bgcolor-default;display:none;}
}
.btn-card {
    @include btn-text;
    font-size:13px;padding:0 15px 0 10px;line-height:34px;
    &:hover,&:active{color:$base-color-white;}
    &:focus{border-color:transparent;}
    i{padding-right:5px;font-size:$base-font-size + 3;line-height:30px;float:left;}
}
.btn-wishlist {
    @include btn-text;
    background-color:$base-color-white;position:absolute;top:15px;right:-2px;min-width:51px;border-radius:0px;border:0px;color:$base-color-Link;z-index: 101;padding:0px;
    &:hover,&:focus,&:active{color:$base-color-secondary;border-color:$base-color-white;outline:none;}
    i{font-size:$base-font-size + 2;line-height:26px;}
}
.btn-margin-left{margin-left:0;}

.red,.btn-bg-primary { background: $base-bgcolor-button-primary;border-radius: 0px;border: 1px solid $base-color-primary;
     font:{ 
      size:14px;
      family:$base-font-family-bold;
   }   
}
.btn-bg-secondary {background-color: transparent;border: 1px solid $base-color-white;width: 20%;color: $base-color-white;text-transform: uppercase;border-radius: 0px;
   font:{ 
      size:14px;
      family:$base-font-family-bold;
   }
    &:hover,&:focus,&:active{color:$base-color-white;outline:none;}
}

.btn-bg-border{background:$base-bgcolor-button-border;border:1px solid $base-color-primary;border-radius: 0px;width:100%;text-decoration:none !important;color:$base-color-primary;
    font:{ 
      size:14px;
      family:$base-font-family-bold;
   }
   &:hover,&:focus,&:active{color:$base-color-primary;outline:none;}
}
.btn-bg-blue{background:$base-bgcolor-button-secondary; color:$base-color-white;border-radius: 0px;width:100%;
   font:{ 
      size:14px;
      family:$base-font-family-bold;
   }
   &:hover,&:focus,&:active{color:$base-color-white;outline:none;}
}
.width-auto-btn{width:auto;}
.cms-configure-btn-custom { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.btn-text-secondary-custom { background-color: #5db043 !important; border: none; color: #fff; }
.btn-search-custom{background: $base-color-white;border: 1px solid $base-color-secondary;}

.widget-cms-button-container-center { position: absolute; z-index: 10000; text-align: center; }

.widget-cms-overlay-custom { position: absolute; z-index: 9999; background-color: black; opacity: 0.3; border: 1px solid white; }

.cms-img-icon-custom { z-index: 9999; margin: auto; max-width: 120px; top: -10px; position: relative; }

.cms-img-icon { z-index: 0; }

// Media Query.
@include screensize(x-small) {
    .btn-text-full{width:100%;}
    .btn-width-full{width:100%;}
}
