﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model RegisterViewModel

<p id="ExistingUserError" class="error-msg" />

<div class="form-group">
    <div class="col-xs-12 nopadding hidden">
        @Html.Label(WebStore_Resources.LabelUserNameEmail, new { @class = "control-label required" })
    </div>
    <div class="col-xs-12 left-inner-icon nopadding">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @data_test_selector = "txtUsername",@title = WebStore_Resources.LabelUsername, @placeholder = "Username/Email *" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @data_test_selector = "spnValidForUsername" })
    </div>
</div>
@if (Model.UserVerificationTypeCode != UserVerificationTypeEnum.EmailVerificationCode)
{
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding hidden">
            @Html.Label(WebStore_Resources.ColumnCreatePassword, new { @class = "control-label required" })
            <p class="sub">@WebStore_Resources.ValidPassword</p>
        </div>
        <div class="col-xs-12 left-inner-icon nopadding">
            @Html.PasswordFor(m => m.Password, new { @title= WebStore_Resources.ColumnCreatePassword, @placeholder ="Create a password *" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @data_test_selector = "spnValidForPassword" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding hidden">
            @Html.Label(WebStore_Resources.ColumnReTypePassword, new { @class = "control-label required" })
        </div>
        <div class="col-xs-12 left-inner-icon nopadding">
            @Html.PasswordFor(m => m.ReTypePassword, new { @title = WebStore_Resources.ColumnReTypePassword, @placeholder = "Confirm new password *" })
            @Html.ValidationMessageFor(m => m.ReTypePassword, "", new { @data_test_selector = "spnValidForReTypePass" })
        </div>
    </div>
</div>
}
<div class="form-group">
    <div class="col-xs-12 styled-input nopadding">
        <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox" checked>
        <label for="signup_optin" title="Send Me Periodic Emails And Special Offers">Send Me Periodic Emails And Special Offers</label>
    </div>
</div>

<div class="form-group">
    <div class="pull-right">
        @{
        string _returnUrl = Convert.ToString(Request.QueryString["returnUrl"]);
        }
        @Html.Hidden("returnUrl", _returnUrl)
    </div>
</div>
@Html.HiddenFor(x => x.UserName)
@Html.HiddenFor(x => x.Email)
@Html.HiddenFor(x => x.UserVerificationTypeCode)


