﻿@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{


    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<div class="main-wrapper">
    <div class="container">
        <div class="row register-container create-account-container">
            <div class="col-xs-12 nopadding margin-top-50">
                <h1 class="page-title" data-test-selector="hdgResetPassword">@WebStore_Resources.ButtonResetPassword.ToUpper()</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <p>@WebStore_Resources.SubTextResetPassword</p>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding margin-top">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-xs-12 nopadding hidden">
                            <label class="control-label required" data-test-selector="lblUsername">@WebStore_Resources.LabelUserNameEmail</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @data_test_selector = "txtUserName", @placeholder = "Username/Email *" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @data_test_selector = "spnValidForUsername" })
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button type="submit" class="btn-text btn-bg-primary" data-test-selector="btnForgetSubmit">@WebStore_Resources.ButtonSubmitRequest</button>
                            <button type="button" class="btn-text btn-bg-border width-auto-btn" onclick="javascript: location.href = '/User/Login';" data-test-selector="btnForgetCancel">@WebStore_Resources.ButtonCancel</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script>
    function validateEmail(email) {
        const res = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return res.test(String(email).toLowerCase());
    }

    $(document).ready(function () {
        $("#UserName").focusout(function () {
            var forgotEmail = $('#UserName').val();
            if (forgotEmail !== "") {
                var validForgotEmail = validateEmail(forgotEmail);
                if (validForgotEmail === true) {
                    SetEmailCookie("KlaviyoEmail", forgotEmail, 100);
                }
            }
        });
    });
</script>
<script src="~/Scripts/NiviSolutions/Klaviyo/NiviKlaviyoCommon.js"></script>