﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{ 
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<li class="item">
    <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)">
        <article class="cs-item">
            <img data-test-selector="imgCategoryImage" id="@Model.CategoryId" src="@Model.ImageMediumPath" class="img-responsive b-lazy" data-src="@Model.ImageMediumPath" alt="@WebUtility.HtmlDecode(Model.CategoryName)" />
            <figcaption>
                <p>@WebUtility.HtmlDecode(Model.CategoryName)</p>
            </figcaption>
        </article>
    </a>
</li>
