﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Microsoft.AspNet.Identity
@model UserViewModel
@{
    string budgetAmount = @Helper.FormatPriceWithCurrency(Model?.BudgetAmount.GetValueOrDefault(), DefaultSettingHelper.DefaultCulture);
}
<div id="layout-account-editprofile" class="main-wrapper">

    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="section-header">
                                        <text class="visible-xs hidden-lg hidden-md">Hello, @User.Identity.GetUserName()</text>
                                        <text class="hidden-xs">@WebStore_Resources.TitleMyAccount</text>
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">

                    <div class="col-xs-12 col-sm-8">
                        <h2 class="section-header">@WebStore_Resources.LinkTextEditProfile</h2>
                        @using (Html.BeginForm("EditProfile", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-4 nopadding">
                                            <label data-test-selector="lblUsername">Username</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.UserName, new { @Value = User.Identity.GetUserName(), @readonly = "readonly" })
                                        </div>
                                        @Html.HiddenFor(m => m.UserName)
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="required" data-test-selector="lblFirstName">@WebStore_Resources.ColumnFirstName</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.FirstName, new { @id = "profile_Firstname", @title = WebStore_Resources.ColumnFirstName })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName, "", new { @id = "valFirstName" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="required" data-test-selector="lblLastName">@WebStore_Resources.ColumnLastName</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.LastName, new { @id = "profile_Lastname", @title = WebStore_Resources.ColumnLastName })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.LastName, "", new { @id = "valLastName" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label data-test-selector="lblColumnPhoneNo">@WebStore_Resources.ColumnPhoneNo</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @id = "profile_PhoneNumber", @title = WebStore_Resources.ColumnPhoneNo })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @id = "valPhoneNumber" })</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label for="profile_email" class="required" data-test-selector="lblEmailAddress">@WebStore_Resources.ColumnEmailAddress</label>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.TextBoxFor(model => model.Email, new { @id = "profile_email", @title = WebStore_Resources.ColumnEmailAddress })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Email, "", new { @id = "valEmail" })</p>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <a href="/User/ChangePassword" class="pull-right" data-test-selector="linkChangePassword" title="@WebStore_Resources.TitleChangePassword">@WebStore_Resources.TitleChangePassword</a>
                            </div>
                            <div class="col-xs-12 nopadding styled-input">
                                <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" @(Model.EmailOptIn ? "checked='checked'" : "") /><label for="signup_optin" data-test-selector="lblTextNewsLetter">@WebStore_Resources.CheckBoxTextNewsLetter</label>
                            </div>
                            @Html.HiddenFor(model => model.ExternalId)
                            @Html.HiddenFor(model => model.Custom1)
                            @Html.HiddenFor(model => model.Custom2)
                            <div class="col-xs-12 margin-top-bottom nopadding">
                                <div class="pull-right">
                                    <button type="submit" class="btn-text btn-bg-primary" data-test-selector="btnUpdate" title="Update Profile">Update Profile</button>
                                    <a href="Dashboard" class="btn-text btn-bg-border width-auto-btn" data-test-selector="btnButtonCancel" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
