﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model ImportViewModel
<div id="layout-account-quotehistory" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="section-header">
                                        <text class="visible-xs hidden-lg hidden-md">Hello, @User.Identity.GetUserName()</text>
                                        <text class="hidden-xs">@WebStore_Resources.TitleMyAccount</text>
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                    <div id="divimport-shipping-address" class="col-xs-12 nopadding">
                        <div class="col-xs-12 col-sm-8 nopadding shipping-address-import">
                            @using (Html.BeginForm("ImportShippingAddress", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group margin-top" id="divImportShippingAddressUpload">

                                    <div class="import-control-label">
                                        @Html.LabelFor(model => model.ImportData, new { @id = "lblSelectFile", @class = "required" })
                                        <span class="sub">@WebStore_Resources.SelectCSVFileInstructionText</span>
                                    </div>

                                    <div class="import-input">
                                        @Html.Partial("_ImportData", Model)
                                    </div>
                                </div>

                            }
                        </div>
                        <div class="col-xs-12 col-sm-4 nopadding shipping-download-template">
                            <form method="post" action="~/User/DownloadShippingAddressTemplate">
                                <button id="downloadImportTemplate" type="submit" class="btn-text btn-bg-primary margin-top pull-right">@WebStore_Resources.LabelDownloadTemplate</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
