﻿@using Znode.Engine.Admin.ViewModels
@model OrderViewModel
@{
    Layout = null;
}

<div class="col-sm-12 title-container">
    <h1 data-test-selector="hdgCustomer">@Admin_Resources.LabelOrderNotes</h1>
    <div class="pull-right">
        <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('AdditionalNotes')" data-test-selector="linkBack"><i class="z-back"></i>Back</button>
    </div>
</div>

<div class="col-sm-12">

    <div class="form-group order-notes-padding">
        <div class="col-sm-12 nopadding margin-bottom margin-top-25 d-flex align-items-start order-note-popup">
            <div class="label">
                @Html.Label(Admin_Resources.LabelAdditionalNotes, new { @data_test_selector = "lblAdditionalNotes" })
            </div>

            <div id="areaList" class="col-xs-12 nopadding textbox">
                @Html.TextAreaFor(m => m.AdditionalNotes, new { maxlength = 500, @data_test_selector = "txtAdditionalNotes", @id = "Notes" })
                @Html.ValidationMessageFor(model => model.AdditionalNotes, "", new { @data_test_selector = "valAdditionalNotes" })
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 modal-footer">
    <button type="button" class="btn-text btn-text-secondary pull-right" id="Addnote" onclick="Order.prototype.SaveAddedNote()" data-test-selector="btnAddNote">@Admin_Resources.LabelAddNote</button>
</div>
